<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static '/diseno.css' %}">
    <title>  19/19 </title>  
</head>

<body> 
    <div id="divBarraProgreso" class="w3-container">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        
       <div class="w3-section w3-light-grey">
          <div class="w3-container w3-padding w3-deep-orange w3-deep-orange w3-center" style="width:100%">100%</div>
        </div>
</div>
    <h2 class="TextoIndicativo">
            <center>
                
                ¡Ha finalizado con éxito el Diagnóstico de Madurez Digital de Operaciones elaborado por ibisa y la Pontificia Universidad Javeriana para su compañía! 
            </center>
        </h2>
    </div>
    <div class="BotonSiguienteTercera">   
        <center>
            <a name="VerResumen" id="siguiente3" class="btn2"  role="button" onclick="resumen()" >Ver resultados</a>
        </center>
    </div>
   
    <div>
        <h2 class="TextoIndicativo">
            <center>
                En su correo encuentra el informe completo con el detalle de:
                <p>1. Dónde estoy: su nivel actual de Madurez Digital de Operaciones.</p>
                <p> 2. Por qué seguir avanzando: los potenciales beneficios para su empresa.</p>
            <p>Cuáles son los siguientes pasos: recomendaciones adicionales para usted.</p>
            </center>
        </h2>
    </div>
    <div style="padding: 10px; float: left; width: 45%; text-align: justify;">
        <div class="TextoIndicativo">
        <p>
            ibisa Group SAS
        </p>
        <p>
            Andrés Pinzón
        </p>
        <p>
            +573002419181
        </p>
        <p>
            andres.pinzon@ibisa.co
        </p>
     </div>
    </div>
    <div style="padding: 10px; float: right; width: 45%; text-align: justify; margin-right: 10px;">
        <div class="TextoIndicativo" >
            <p>
                Pontificia Universidad Javeriana
            </p>
            <p>
                Gabriel Mauricio Zambrano Rey
            </p>
            <p>
                +573016226375
            </p>
            <p style="margin-right:10px;">
                gzambrano@javeriana.edu.co
            </p>
         </div>
    </div>
    
</body>
</html>

<script language="JavaScript">
    
    function resumen(){
        var empresa={
            NombreEmpresa:sessionStorage.getItem('NombreEmpresa'),
            TiposDeIndustria:sessionStorage.getItem('TiposDeIndustria'),
            tamano:sessionStorage.getItem('tamano'),
            NombreCompleto:sessionStorage.getItem('NombreCompleto'),
            Cargo:sessionStorage.getItem('Cargo'),
            CorreoElectronico:sessionStorage.getItem('CorreoElectronico'),
            Telefono:sessionStorage.getItem('Telefono'),
            Reto1:sessionStorage.getItem('reto1'),
            Reto2:sessionStorage.getItem('reto2'),

            Dimension1R1:sessionStorage.getItem('Dimension1R1'),
            Dimension1R2:sessionStorage.getItem('Dimension1R1'),

            Dimension2R1:sessionStorage.getItem('Dimension2R1'),
            Dimension2R2:sessionStorage.getItem('Dimension2R2'),

            Dimension3R1:sessionStorage.getItem('Dimension3R1'),
            Dimension3R2:sessionStorage.getItem('Dimension3R2'),
            Dimension3R3:sessionStorage.getItem('Dimension3R3'),
            Dimension3R4:sessionStorage.getItem('Dimension3R4'),
            Dimension3R5:sessionStorage.getItem('Dimension3R5'),
            Dimension3R6:sessionStorage.getItem('Dimension3R6'),
            Dimension3R7:sessionStorage.getItem('Dimension3R7'),
            Dimension3R8:sessionStorage.getItem('Dimension3R8'),



            NiveldeIngreso:sessionStorage.getItem('NiveldeIngreso'),
            CostoDComoPorcentaje:sessionStorage.getItem('CostoDComoPorcentaje'),
            CostoDirecto:sessionStorage.getItem('CostoDirecto'),
            valorInv:sessionStorage.getItem('valorInv')
        };
        document.getElementById('siguiente3').href = "/Resultados/"+empresa.NombreCompleto+"/"+empresa.NombreEmpresa+"/"+empresa.Cargo+"/"+empresa.TiposDeIndustria+"/"+empresa.tamano+"/"+empresa.Telefono+"/"+empresa.CorreoElectronico+"/"+empresa.Reto1+"/"+empresa.Reto2+"/"+empresa.Dimension1R1+"/"+empresa.Dimension1R2+"/"+empresa.Dimension2R1+"/"+empresa.Dimension2R2+"/"+empresa.Dimension3R1+"/"+empresa.Dimension3R2+"/"+empresa.Dimension3R3+"/"+empresa.Dimension3R4+"/"+empresa.Dimension3R5+"/"+empresa.Dimension3R6+"/"+empresa.Dimension3R7+"/"+empresa.Dimension3R8+"/"+empresa.NiveldeIngreso+"/"+empresa.CostoDComoPorcentaje+"/"+empresa.CostoDirecto+"/"+empresa.valorInv;
        var json=JSON.stringify(empresa);
        console.log(json);
    }
</script>