<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static '/diseno.css' %}">
    <title>  6/19 </title>  
</head>

<body>
    <h2 class="TextoIndicativo">
            <center>
                
                ¡Ha finalizado con éxito el diagnostico de Madurez Industria 4.0 by Ibisa para su compañía! 
            </center>
        </h2>
    </div>
    <div>
        <h2 class="TextoIndicativo">
            <center>
                Para conocer el resumen de sus resultados selecciones “Ver resumen”. 

            </center>
        </h2>
    </div>
    <div>
        <h2 class="TextoIndicativo">
            <center>
                A su correo se ha enviado un informe completo de la situación actual de su empresa y la propuesta por parte de Ibisa para obtener todos los beneficios que el mundo de la digitalización y la Industria 4.0 tiene para su compañía. 

            </center>
        </h2>
    </div>
    <div class="BotonSiguienteTercera">   
        <center>
            <a name="VerResumen" id="siguiente3" class="btn2" href="/Treceava" role="button" onclick='resumen()' method="post">Ver Resumen</a>
        </center>
    </div>
</body>
</html>

<script type="module" language="JavaScript">
    
    function resumen(){
        var empresa={
            NombreEmpresa:sessionStorage.getItem('NombreEmpresa'),
            TiposDeIndustria:sessionStorage.getItem('TiposDeIndustria'),
            tamano:sessionStorage.getItem('tamano'),
            NombreCompleto:sessionStorage.getItem('NombreCompleto'),
            contacto:sessionStorage.getItem('Contacto'),
            CorreoElectronico:sessionStorage.getItem('CorreoElectronico'),
            Telefono:sessionStorage.getItem('Telefono'),
            reto1:sessionStorage.getItem('reto1'),
            Reto2:sessionStorage.getItem('reto2'),

            Dimension1R1:sessionStorage.getItem('Dimension1R1'),
            Dimension1R1:sessionStorage.getItem('Dimension1R1'),

            Dimension2R1:sessionStorage.getItem('Dimension2R1'),
            Dimension2R2:sessionStorage.getItem('Dimension2R2'),

            Dimension3R1:sessionStorage.getItem('Dimension3R1'),
            Dimension3R2:sessionStorage.getItem('Dimension3R2'),
            Dimension3R3:sessionStorage.getItem('Dimension3R3'),
            Dimension3R4:sessionStorage.getItem('Dimension3R4'),
            Dimension3R5:sessionStorage.getItem('Dimension3R5'),
            Dimension3R6:sessionStorage.getItem('Dimension3R6'),
            Dimension3R7:sessionStorage.getItem('Dimension3R7'),
            Dimension3R8:sessionStorage.getItem('Dimension3R8'),



            NiveldeIngreso:sessionStorage.getItem('NiveldeIngreso'),
            CostoDComoPorcentaje:sessionStorage.getItem('CostoDComoPorcentaje'),
            CostoDirecto:sessionStorage.getItem('CostoDirecto'),
            valorInv:sessionStorage.getItem('valorInv')
        };

        empresa1=Empresa.create(empresa.NombreCompleto,empresa.NombreEmpresa,empresa.TiposDeIndustria,empresa.tamano,empresa.contacto,empresa.CorreoElectronico,empresa.Telefono,empresa.reto1,empresa.Reto2,empresa.Dimension1R1,empresa.Dimension1R2,empresa.Dimension2R1,empresa.Dimension2R2,empresa.Dimension3R1,empresa.Dimension3R2,empresa.Dimension3R3,empresa.Dimension3R4,empresa.Dimension3R5,empresa.Dimension3R6,empresa.Dimension3R7,empresa.Dimension3R8,empresa.NiveldeIngreso,empresa.CostoDComoPorcentaje,empresa.CostoDirecto,empresa.valorInv);
        console.log(empresa1);
    }
</script>