<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static '/diseno.css' %}">
    <title>  3/19 </title>  
</head>
<body>
   
    <div id="divBarraProgreso">
        <center>
            <div class="text-xs-center" id="progressId"><strong>2 of 19</strong>
                <progress class="progress" rol="progressbar" value="2" max="19" aria-describedby="progressId">
                </progress> 
            </div>
        </center>
    </div>
    

        <h1 class="tituloPag3">
            <strong>
                
                    Datos generales de la empresa
                
            </strong>
        </h1>
    </div>
    <div>

        <center>
            <p class="TextIndicaciones"> 
                Por favor ingrese sus datos personales:
            </p>
        </center>
    </div>
    <div class="PreguntasTercera">
        <div class="P1">
            <center>
                <label for="" class="form-label"></label>
                <input type="text" class="InputTercera" name="Nombre de la empresa" id="NombreCompleto" aria-describedby="NombreEmpresa" placeholder="Nombre de la empresa" >
            </center>
        </div>
        &nbsp
        <div class="P2">
            <center>
                <label for="" class="form-label"></label>
                <input type="text" class="InputTercera" name="Contacto" id="Contacto" aria-describedby="Contacto" placeholder="Contacto" >
            </center>
        </div>
        &nbsp
        <div class="P3">
            <center>
                <label for="" class="form-label"></label>
                <input type="text" class="InputTercera" name="Número de teléfono" id="Telefono" aria-describedby="NumeroTelefono" placeholder="Número de teléfono" >
            </center>
        </div>
        &nbsp
        <div class="P3">
            <center>
                <label for="" class="form-label"></label>
                <input type="text" class="InputTercera" name="Correo electrónico" id="CorreoElectronico" aria-describedby="CorreoElectronico" placeholder="Correo Electrónico" >
        </div>

    </div>
    <div class="BotonSiguiente">   
        <center>
            <a name="Siguiente" id="siguiente1" class="btn2" href="/Quinta" role="button" style="text-decoration:none" onclick='guardar4()'>Siguiente</a>
        </center>
    </div>
</body>
<script language="JavaScript">

    function guardar4() {
        sessionStorage.setItem('NombreCompleto',document.getElementById("NombreCompleto").value);
        sessionStorage.setItem('Contacto',document.getElementById("Contacto").value);
        sessionStorage.setItem('Telefono',document.getElementById("Telefono").value);
        sessionStorage.setItem('CorreoElectronico',document.getElementById("CorreoElectronico").value);       
    };
</script>