<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static '/diseno.css' %}">
    <title>  3/19 </title>  
</head>
 <body>
   
     <div id="divBarraProgreso" class="w3-container" style="background-image: url('https://lh3.google.com/u/2/d/1C-RRGgiPJsRpEUH8iQl48Xpx6kVTSKR3=w1439-h820-iv1');">
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
             
            <div class="w3-section w3-light-grey">
               <div class="w3-container w3-padding w3-deep-orange w3-deep-orange w3-center" style="width:9%">9%</div>
             </div>
     
    

        <h1 class="tituloPag3">
            <strong>
                
                    Datos generales de la empresa
                
            </strong>
        </h1>
    </div>
</div>
    <div>

        <center>
            <p class="TextIndicaciones"> 
                Por favor ingrese sus datos personales:
            </p>
        </center>
    </div>
    <div class="PreguntasTercera">
        <div class="P1">
            <center>
                <label for="" class="form-label"></label>
                <input type="text" class="InputTercera" name="Nombre de la empresa" id="NombreCompleto" aria-describedby="NombreEmpresa" placeholder="Nombre y apellido de la persona quien realiza el diagnóstico" >
            </center>
        </div>
        &nbsp
        <div class="P2">
            <center>
                <label for="" class="form-label"></label>
                <input type="text" class="InputTercera" name="Cargo" id="Cargo" aria-describedby="Contacto" placeholder="Cargo dentro de la empresa" >
            </center>
        </div>
        &nbsp
        <div class="P3">
            <center>
                <label for="" class="form-label"></label>
                <input type="text" class="InputTercera" name="Número de teléfono" id="Telefono" aria-describedby="NumeroTelefono" placeholder="Número de teléfono" >
            </center>
        </div>
        &nbsp
        <div class="P3">
            <center>
                <label for="" class="form-label"></label>
                <input type="text" class="InputTercera" name="Correo electrónico" id="CorreoElectronico" aria-describedby="CorreoElectronico" placeholder="Correo electrónico" >
        </div>

    </div>
    <div class="BotonSiguiente">   
        <center>
            <a name="Siguiente" id="siguiente1" class="btn2" href="/Quinta" role="button" style="text-decoration:none" onclick='guardar4()'>Siguiente</a>
        </center>
    </div>
</body>
<script language="JavaScript">

    function guardar4() {
        sessionStorage.setItem('NombreCompleto',document.getElementById("NombreCompleto").value);
        sessionStorage.setItem('Cargo',document.getElementById("Cargo").value);
        sessionStorage.setItem('Telefono',document.getElementById("Telefono").value);
        sessionStorage.setItem('CorreoElectronico',document.getElementById("CorreoElectronico").value);       
    };
</script>