<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static '/diseno.css' %}">
    <title>  8/16 </title>  
</head>
<body>
    <div id="divBarraProgreso" background-image="">
        <center>
            <div class="text-xs-center" id="progressId"><strong>8 of 19</strong>
                <progress class="progress" rol="progressbar" value="8" max="19" aria-describedby="progressId">
                </progress> 
            </div>
        </center>
    </div>
    <div class="DivtituloPag9">
        <h1 class="tituloPag9">
            <strong>
                <center>
                    Dimensión 3: Tecnología habilitante.
                </center>
            </strong>
        </h1>
    </div>
    <ol>
        <div class="PreguntasNovena" id="PreguntasNovena">
            <li>
                <center align="left">
                    <h1 class="PreguntaNovena"> 4. Contamos con sistemas que permiten replicar un modelo virtual del proceso productivo.</h1>
                </center>
                <div class="btn-group" data-bs-toggle="buttons">
                    <div class="botonRadio">
                        <input type="checkbox" class="me-2" name="" id="" autocomplete="off"> 
                            <ul>
                                <li>No existe modelos digitales para alguna máquina,estación.</li>
                            </ul>
                    </div>
                    <div class="botonRadio">
                        <input type="checkbox" name="" id="" autocomplete="off"> 
                            <ul>
                                <li>Existen modelos de simulación de la máquina, estación. </li>
                                <li>Pero no está acoplado en tiempo real a la máquina.</li>
                            </ul>
                    </div>
                    <div class="botonRadio">
                        <input type="checkbox" name="" id="" autocomplete="off"> 
                            <ul>
                                <li>Modelo de simulación de la máquina, estación.</li>
                                <li>Están acoplados en tiempo real a la máquina.</li>
                                <li>Se realizan simulaciones asincronas.</li>
                            </ul>
                    </div>
                    <div class="botonRadio">
                            <input type="checkbox" name="" id="" autocomplete="off">
                            <ul>
                                <P>Todo lo indicado en el punto 3 incluyendo:</p>
                                <li>Además se realizan simulaciones sincrónicas con la posibilidad de controlar el proceso real.</li>
                                
                            </ul>
                    </div>
                </div>
            </li>
            <li>
                <center align="left">
                    <h1 class="PreguntaNovena">Nuestro nivel de conexión de sistemas operativas (OT) con sistemas de información (IT) y nivel de envío e uso de información de producción.</h1>
                </center>
                <div class="btn-group" data-bs-toggle="buttons">
                    <div class="botonRadio">
                        <input type="checkbox" class="me-2" name="" id="" autocomplete="off">
                            <ul>
                                <li>No se generan datos del proceso productivo.</li>
                            </ul> 
                    </div>
                    <div class="botonRadio">
                        <input type="checkbox" name="" id="" autocomplete="off"> 
                            <ul>
                                <li>Se generan datos mediantes sensores.</li>
                                <li>Se recopilan algunos datos del proceso de manera manual en papel, carpetas fisicas o MS Excel.</li>
                            </ul>
                    </div>
                    <div class="botonRadio">
                        <input type="checkbox" name="" id="" autocomplete="off">
                            <ul>
                                <li>Casi todas las máquinas, estaciones generan datos mediante PLC, ESCADA, etc. </li>
                                <li>Estos datos estan extraidos manualmente, usando formularios digitales.</li>
                            </ul> 
                    </div>
                    <div class="botonRadio">
                        <input type="checkbox" name="" id="" autocomplete="off">
                            <ul>
                                <li>Todas las máquinas, estaciones envian datos automáticamente mediante IoT y en tiempo real para su análisis oportuno.</li>
                            </ul>
                    </div>
                </div>
            </li>
            <li>
                <center align="left">
                    <h1 class="PreguntaNovena"> Usamos datos para garantizar la ejecución y estabilidad del proceso productivo.</h1>
                </center>
                <div class="btn-group" data-bs-toggle="buttons">
                    <div class="botonRadio">
                        <input type="checkbox" class="me-2" name="" id="" autocomplete="off">
                            <ul>
                                <li>Sin monitoreo del proceso productivo en las maquinas, estaciones.</li>
                            </ul>
                    </div>
                    <div class="botonRadio">
                        <input type="checkbox" name="" id="" autocomplete="off">
                            <ul>
                                <li>Monitoreo in situ por interfaz hombre máquina, estación.</li>
                                <li>Se generan algunos datos e indicadores del proceso.</li>
                            </ul>
                    </div>
                    <div class="botonRadio">
                        <input type="checkbox" name="" id="" autocomplete="off">
                            <ul>
                                <li>Monitoreo in situ por interfaz hombre máquina, estación.</li>
                                <li>Indicadores con detección automática de fallas.</li>
                            </ul>
                    </div>
                    <div class="botonRadio">
                        <input type="checkbox" name="" id="" autocomplete="off">
                            <ul>
                                <li>Monitoreo in situ y remoto de la máquina, estación.</li>
                                <li>Detección automática de fallas.</li>
                                <li>Notificaciones automáticas.</li>
                            </ul>
                    </div>
                </div>
            </li>
        </ol>
    </div>
    
    <div class="BotonSiguienteTercera">   
        <center>
            <a name="Siguiente" id="siguiente3" class="btn1" href="#" role="button" style="text-decoration:none">Siguiente</a>
        </center>
    </div>
</body>
</html>