<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static '/diseno.css' %}">
    <title>  8/16 </title>  
</head>
<body>
    <div id="divBarraProgreso" class="w3-container">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            
           <div class="w3-section w3-light-grey">
              <div class="w3-container w3-padding w3-deep-orange w3-deep-orange w3-center" style="width:63%">63%</div>
            </div>
    </div>
    <div class="DivtituloPag9">
        <h1 class="tituloPag9">
            <strong>
                <center>
                    Dimensión 3: Tecnología habilitante.
                </center>
            </strong>
        </h1>
    </div>
    <ol>
        <div class="PreguntasNovena" id="PreguntasNovena">
            
                <center align="left">
                    <h1 class="PreguntaNovena"> 4. Contamos con sistemas que permiten replicar un modelo virtual del proceso productivo.</h1>
                </center>
                <div class="btn-group" data-bs-toggle="buttons">
                    <label>
                        <input type="radio" name="Dim3P4" class="azul" id="Dimension3P4O2"/> 
                        <span style="color:#056CF2">1</span> 
                        <span class=" Textobults">
                            <ul style="margin-left:60px; margin-top: -60px">
                                <li>
                                    No existe modelos digitales para alguna máquina,estación.
                                </li>
                            </ul>
                        </span>
                            
                    </label>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <label>
                        <input type="radio" name="Dim3P4" class="azul" id="Dimension3P4O2"/> 
                        <span style="color:#056CF2">2</span> 
                        <span class=" Textobults">
                                <ul style="margin-left:60px; margin-top: -60px">
                                <li >Existen modelos de simulación de la máquina, estación. </li>
                                <li>Pero no está acoplado en tiempo real a la máquina.</li>
                            </ul> 
                        </span>
                    </label>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <label>
                        <input type="radio" name="Dim3P4" class="azul" id="Dimension3P4O2"/> 
                        <span style="color:#056CF2">3</span> 
                        <span class=" Textobults">
                            <ul style="margin-left:60px; margin-top: -60px">
                                <li>Modelo de simulación de la máquina, estación.</li>
                                <li>Están acoplados en tiempo real a la máquina.</li>
                                <li>Se realizan simulaciones asincronas.</li>
                            </ul>
                        </span>
                    </label>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <label>
                        <input type="radio" name="Dim3P4" class="azul" id="Dimension3P4O2"/> 
                        <span style="color:#056CF2">4</span> 
                        <span class=" Textobults">
                            <ul style="margin-left:60px; margin-top: -90px">
                                <P>Todo lo indicado en el punto 3 incluyendo:</p>
                                <li>Además se realizan simulaciones sincrónicas con la posibilidad de controlar el proceso real.</li>
                                
                            </ul>
                        </span>
                        </label>
                        <br/>
                        <br/>
                
   
                <center align="left">
                    <h1 class="PreguntaNovena">5. Nuestros responsables de producción tiene información veraz, completa e oportuna, para analizar el ciclo de vida de un producto o lote de producción.</h1>
                </center>
                <div class="btn-group" data-bs-toggle="buttons">
                    <label>
                        <br/>
                        <br/>
                        <input type="radio" name="Dim3P5" class="azul" id="Dimension3P5O4"/> 
                        <span style="color:#056CF2">1</span> 
                        <span class=" Textobults">
                            <ul style="margin-left:60px; margin-top: -90px">
                                <p>No hay trazabilidad del producto o lote de producción, porque no hay datos disponibles.</p>
                                <li> Trazabilidad del producto o lote de producción con MS Excel y modelos estadisticos ex-post (despues del cierre del mes).</li>
                                <li>Guardamos evidencias en archivos físicos o digitales. </li>
                                <li>No se realiza ningún tipo de análisis con esta información.</li>
                            </ul> 
                        </span>
                        </label>
                        <br/>
                        <br/>
                        <br/>
                    <label>

                        <input type="radio" name="Dim3P5" class="azul" id="Dimension3P5O4"/> 
                        <span style="color:#056CF2">2</span> 
                        <span class=" Textobults">
                            <ul style="margin-left:60px; margin-top: -60px">
                                <li>Trazabilidad del producto o lote de producción con MS Excel y modelos estadisticos ex-post (despues del cierre del mes).</li>
                                <li>Guardamos evidencias en archivos físicos o digitales</li>
                                <li> No se realiza ningún tipo de análisis con esta información.</li>
                            </ul>
                        </label>
                        <br/>
                        <br/>

                    <label>
                        <input type="radio" name="Dim3P5" class="azul" id="Dimension3P5O4"/> 
                        <span style="color:#056CF2">3</span> 
                        <span class=" Textobults">
                            <ul style="margin-left:60px; margin-top: -60px">
                                <li>Trazabilidad digital de un producto o lote con datos del ciclo de vida completo: Origen, parametros, costos, cumplimiento  calidad, movimientos logisticos, etc) del producto o lote. </li>
                                <li>Evidencias en sistema de información.</li>
                            </ul> 
                    </label>
                    <br/>
                    <br/>

                    <label>
                        <input type="radio" name="Dim3P5" class="azul" id="Dimension3P5O4"/> 
                        <span style="color:#056CF2">4</span> 
                        <span class=" Textobults">
                            <ul style="margin-left:60px; margin-top: -60px">
                                <li>El mismo producto o lote guarda toda la data de su proceso productivo.</li>
                                <li>Acceso a esta data de manera remota. </li>
                                <li>Esta data se procesa digitalmente, identificando incumplimientos de especificaciones en tiempo real y redireccinamiento automático del producto/lote a reproceso o desperdicio. </li>
                                <li>Cliente pude consultar datos del producto o lote mediate código QR. </li>
                            </ul>
                        </span>
                        </label>
                </div>
            
            
        </ol>
    </div>
    
    <div class="BotonSiguienteTercera">   
        <center>
            <a name="Siguiente" id="siguiente3" class="btn1" href="/Onceava" role="button" style="text-decoration:none" onclick='guardar10()'>Siguiente</a>
        </center>
    </div>
</body>
</html>

<script language="JavaScript">
    function guardar10(){
        Dimension3R4='';
        Dimension3R5='';

        if(document.getElementById('Dimension3P4O1').checked){
            Dimension3R4='1';
        }else if(document.getElementById('Dimension3P4O2').checked){
            Dimension3R4='2';
        }else if(document.getElementById('Dimension3P4O3').checked){
            Dimension3R4='3';
        }else if(document.getElementById('Dimension3P4O4').checked){
            Dimension3R4='4';
        }

        if(document.getElementById('Dimension3P5O1').checked){
            Dimension3R5='1';
        }else if(document.getElementById('Dimension3P5O2').checked){
            Dimension3R5='2';
        }else if(document.getElementById('Dimension3P5O3').checked){
            Dimension3R5='3';
        }else if(document.getElementById('Dimension3P5O4').checked){
            Dimension3R5='4';
        }

        sessionStorage.setItem('Dimension3R4',Dimension3R4);
        sessionStorage.setItem('Dimension3R5',Dimension3R5);
    }
</script>