<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static '/diseno.css' %}">
    <title>  8/16 </title>  
</head>
<body>
    <div id="divBarraProgreso" background-image="">
        <center>
            <div class="text-xs-center" id="progressId"><strong>12 of 19</strong>
                <progress class="progress" rol="progressbar" value="12" max="19" aria-describedby="progressId">
                </progress> 
            </div>
        </center>
    </div>
    <div class="DivtituloPag9">
        <h1 class="tituloPag9">
            <strong>
                <center>
                    Dimensión 3: Tecnología habilitante.
                </center>
            </strong>
        </h1>
    </div>
    <ol>
        <div class="PreguntasNovena" id="PreguntasNovena">
            <li>
                <center align="left">
                    <h1 class="PreguntaNovena"> 4. Contamos con sistemas que permiten replicar un modelo virtual del proceso productivo.</h1>
                </center>
                <div class="btn-group" data-bs-toggle="buttons">
                    <div class="botonRadio">
                        <input type="checkbox" class="me-2" name="" id="" autocomplete="off"> 
                            <ul>
                                <li>No existe modelos digitales para alguna máquina,estación.</li>
                            </ul>
                    </div>
                    <div class="botonRadio">
                        <input type="checkbox" name="" id="" autocomplete="off"> 
                            <ul>
                                <li>Existen modelos de simulación de la máquina, estación. </li>
                                <li>Pero no está acoplado en tiempo real a la máquina.</li>
                            </ul>
                    </div>
                    <div class="botonRadio">
                        <input type="checkbox" name="" id="" autocomplete="off"> 
                            <ul>
                                <li>Modelo de simulación de la máquina, estación.</li>
                                <li>Están acoplados en tiempo real a la máquina.</li>
                                <li>Se realizan simulaciones asincronas.</li>
                            </ul>
                    </div>
                    <div class="botonRadio">
                            <input type="checkbox" name="" id="" autocomplete="off">
                            <ul>
                                <P>Todo lo indicado en el punto 3 incluyendo:</p>
                                <li>Además se realizan simulaciones sincrónicas con la posibilidad de controlar el proceso real.</li>
                                
                            </ul>
                    </div>
                </div>
            </li>
            <li>
                <center align="left">
                    <h1 class="PreguntaNovena">5. Nuestros responsables de producción tiene información veraz, completa e oportuna, para analizar el ciclo de vida de un producto o lote de producción.</h1>
                </center>
                <div class="btn-group" data-bs-toggle="buttons">
                    <div class="botonRadio">
                        <input type="checkbox" class="me-2" name="" id="" autocomplete="off">
                            <ul>
                                <p>No hay trazabilidad del producto o lote de producción, porque no hay datos disponibles.</p>
                                <li> Trazabilidad del producto o lote de producción con MS Excel y modelos estadisticos ex-post (despues del cierre del mes).</li>
                                <li>Guardamos evidencias en archivos físicos o digitales. </li>
                                <li>No se realiza ningún tipo de análisis con esta información.</li>
                            </ul> 
                    </div>
                    <div class="botonRadio">
                        <input type="checkbox" name="" id="" autocomplete="off"> 
                            <ul>
                                <li>Trazabilidad del producto o lote de producción con MS Excel y modelos estadisticos ex-post (despues del cierre del mes).</li>
                                <li>Guardamos evidencias en archivos físicos o digitales</li>
                                <li> No se realiza ningún tipo de análisis con esta información.</li>
                            </ul>
                    </div>
                    <div class="botonRadio">
                        <input type="checkbox" name="" id="" autocomplete="off">
                            <ul>
                                <li>Trazabilidad digital de un producto o lote con datos del ciclo de vida completo: Origen, parametros, costos, cumplimiento  calidad, movimientos logisticos, etc) del producto o lote. </li>
                                <li>Evidencias en sistema de información.</li>
                            </ul> 
                    </div>
                    <div class="botonRadio">
                        <input type="checkbox" name="" id="" autocomplete="off">
                            <ul>
                                <li>El mismo producto o lote guarda toda la data de su proceso productivo.</li>
                                <li>Acceso a esta data de manera remota. </li>
                                <li>Esta data se procesa digitalmente, identificando incumplimientos de especificaciones en tiempo real y redireccinamiento automático del producto/lote a reproceso o desperdicio. </li>
                                <li>Cliente pude consultar datos del producto o lote mediate código QR. </li>
                            </ul>
                    </div>
                </div>
            </li>
            
        </ol>
    </div>
    
    <div class="BotonSiguienteTercera">   
        <center>
            <a name="Siguiente" id="siguiente3" class="btn1" href="/Onceava" role="button" style="text-decoration:none">Siguiente</a>
        </center>
    </div>
</body>
</html>