<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static '/diseno.css' %}">
    <title>  6/19 </title>  
</head>

<body>
    <div id="divBarraProgreso" class="w3-container" style="background-image: url('https://lh3.google.com/u/2/d/1C-RRGgiPJsRpEUH8iQl48Xpx6kVTSKR3=w1439-h820-iv1');">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            
           <div class="w3-section w3-light-grey">
              <div class="w3-container w3-padding w3-deep-orange w3-deep-orange w3-center" style="width:90%">90%</div>
            </div>
    
   
        <h1 class="tituloPag6">
            <strong>
                <center>
                    Paso 3: Información para estimar sus potenciales beneficios.
                </center>
            </strong>
        </h1>
    </div>
    
    
        <p class="TextoIndicativo" style="line-height:160%">
            
                <br>
               Usted puede escoger un valor o digitar el valor exacto. 
            
        </p>
    </div>
    <div>
        <p class="TextoIndicativo" style="line-height:160%">
           
                En caso de que no tenga la información exacta de su empresa, puede seleccionar el valor predeterminado, que refleja el promedio de empresas de su tamaño e industria.
           
        </p>
    </div>
    <div class="BotonSiguienteTercera">   
        <center>
            <a name="Siguiente" id="siguiente3" class="btn2" href="/Treceava" role="button">Siguiente</a>
        </center>
    </div>
</body>