<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static '/diseno.css' %}">
    <title>  6/19 </title>  
</head>

<body>
    <div id="divBarraProgreso">
        <center>
            <div class="animated-progress progress-red">
                <span data-progress="45"></span>
              </div>
        </center>
    </div>
   
        <h1 class="tituloPag6">
            <strong>
                <center>
                    Paso 3: Información para estimar sus potenciales beneficios.
                </center>
            </strong>
        </h1>
    </div>
    
        <p class="TextoIndicativo" style="line-height:160%">
            
                <br>
               Usted puede escoger un valor o digitar el valor exacto. 
            
        </p>
    </div>
    <div>
        <p class="TextoIndicativo" style="line-height:160%">
           
                En caso de que no tenga la información exacta de su empresa, puede seleccionar el valor predeterminado, que refleja el promedio de empresas de su tamaño e industria.
           
        </p>
    </div>
    <div class="BotonSiguienteTercera">   
        <center>
            <a name="Siguiente" id="siguiente3" class="btn2" href="/Treceava" role="button">Siguiente</a>
        </center>
    </div>
</body>