<!DOCTYPE html>
<html lang="en">
<head>
   {%load static %}
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width", initial-scale="1.0">
   <link rel="stylesheet" href="{% static '/diseno.css' %}">

   <body class="Img1Informe"> 
 
   
    <div id= "FondoInicInforme" class="FondoInicInforme">
        <div  id="TextoInforme" class="TextoInforme">
            <strong>
               Tranformación Digital de Operaciones      
            </strong>   
        </div> 
    </div>

        <div class="divTextobienvenido" style="margin-top:-700px ;">
            <p class="TextoB" style="margin-left: 300px;margin-right: 300px;">
                
                    Su nivel actual de Madurez Digital en Operaciones y los potenciales beneficios para la empresa:
                
                
            </p>
            <p class="TextoB2">
                <strong>
                    XXX NOMBRE EMPRESA
                </strong>
    
            </p>
            <p class="TextoB" style="margin-left: 300px;margin-right: 300px;">
                
                Documento elaborado con la ayuda de: "NOMBRE DEL USUARIO DEL DIAGNOSTICO"
             
           </p>
           <p class="TextoB2">
            <strong>
                "XXX CARGO DEL USUARIO"
             </strong>

             </p>
        </div>

        <div class="logoIbisa">
             </div>
             <p>pagina 2</p>
        
             <p class="TextoB2Informe">
                <strong >
                    1. ¿Dónde está "EMPRESA XXX" hoy?
                    </strong>
             </p>

   
    </body>
