<html lang="en">
<head>
   {%load static %}
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width", initial-scale="1.0">
   <link rel="stylesheet" href="{% static '/diseno.css' %}">

   <body class="Img1Informe"> 
 
   
    <div id= "FondoInicInforme" class="FondoInicInforme">
        <div  id="TextoInforme" class="TextoInforme">
            <strong>
               Tranformación Digital de Operaciones      
            </strong>   
        </div> 
    </div>

        <div class="divTextobienvenido" style="margin-top:-700px ;">
            <p class="TextoB" style="margin-left: 300px;margin-right: 300px;">
                
                    Su nivel actual de Madurez Digital en Operaciones y los potenciales beneficios para la empresa:
                
                
            </p>
            <p class="TextoB2">
                <strong>
                    {{Nombre_empresa}}
                </strong>
    
            </p>
            <p class="TextoB" style="margin-left: 300px;margin-right: 300px;">
                
                Documento elaborado con la ayuda de: {{Nombre_persona}}
             
           </p>
           <p class="TextoB2">
            <strong>
                {{cargo}}
             </strong>

             </p>
             <br/>
        </div>

        <div class="logoIbisa">
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
             
        <br/>
        <br/>
        <br/>
             <p class="TextoB2Informe">
                <strong style="margin-left: -80px; margin-top: 15px;">
                    1. ¿Dónde está "{{Nombre_empresa}}" hoy?
                    </strong>
             </p>
             <p class="TextoBinforme" style="margin-left:-70px;margin-right: 700px ;margin-top: -75px;">
               Su nivel actual de Madurez Digital de Operaciones y sus principales Retos de Negocio
             </p>

             <p class="TextoB2Informe" style="margin-top: -140px;">
                <strong style="margin-left: 850px;">
                    Conclusiones
                    </strong>
             </p>
             <p class="TextoBinforme" style="margin-left:850px;margin-right: -10px ;margin-top: -80px;">
                "{{Nombre_empresa}}" es una empresa {{tamano}} del sector de {{sector}}
            </p>
            <div style="margin-top: 10px;" class="TextoBinforme">
                <ul style="margin-left: 850px; margin-right: -100px; ;">
                    <li >En comparación con sus pares, "{{Nombre_empresa}}" está un paso atrás de su competencia
                        en Colombia en relación a su Madurez Digital de Operaciones. 
                    </li>
                    <li > La modernización de la tecnología habilitante de sus procesos productivos
                        presenta grandes oportunidades y necesidades de modernización. 
                    </li>
                </ul>
            </div>
              <br/>
            <p class="TextoBinforme" style="margin-left:850px;margin-right: 25px ;margin-top: 1px;">
                "{{Nombre_empresa}}" comparte sus principales retos con otras empresas del sector:
            </p>
            <div class="TextoBinforme">
                <ul style="margin-left: 850px;margin-top: 10px; margin-right: 25px; ;">
                    <li> Mejorar Eficiencia Operacional en general. 
                    </li>
                    <li > Tener información real (costo unitrio, insumos usados) y trazabilidad del producto para Terceros, Reguladores, Clientes.
                    </li>
                </ul>
            </div>
            
            <div style="margin-left:1250px; margin-right: -10px; margin-top: -200px;">
            <p class="TextoBinforme">
                <strong>
                    % de empresas con el mismo reto:

                </strong>
            </p>
            <br/>
            <p class="TextoBinforme">
                <strong>
                    VARIABLE1 %

                </strong>
            </p>
            <br/>
            <p class="TextoBinforme">
                <strong>
                   VARIABLE2 %

                </strong>
            </p>
        </div>
      
        <div class="Flecha1Informe" style="margin-top:-200px ; margin-left: 20px;"> 
           
            <br/>
        </div>
        
        <div class="Flecha2Informe" style="margin-top:-800px ; margin-left: 20px;"> 
            
            <br/>
        </div>
        
        <div class="Flecha2Informe" style="margin-top:-900px ; margin-left: 20px;"> 
            
            <br/>
        </div>
       
        <div class="LogoMorado" style="margin-top:-850px ; margin-left: 20px;"> 
            <br/>
        </div>
        <div class="Puntospink" style="margin-top:-800px ; margin-left: 20px;"> 
            <br/>
        </div>

        <div  class="back3Informe" style="margin-top:-900px ;">
            <p class="TextoB2Informe">
                <strong style="margin-left: -80px;">
                    2. Por qué seguir avanzando:
                    </strong>
             </p>
             <p class="TextoBinforme" style="margin-left:-70px; ;margin-top: -70px;">
                Potenciales beneficios de la Transformación Digital de Operaciones para {{Nombre_empresa}}
              </p>
              <br/>
              <p class="TextoBinforme" style="margin-right:700px; margin-top: 10px;">
                <strong>
                   Una exitosa Transformación Digital de Operaciones puede generar importantes beneficios:

                </strong>
            </p>

        </div>
        <div class="TextoBinforme">
            <ul style="margin-left: 400px;margin-top:-525px; margin-right: 140px; ;">
                <li> Tener una visión clara y una estrategia sistemática que mejoren la sostenibilidad
                    y competitividad del negocio.
                </li>
                <li > Responder a las necesidades de los clientes con mayor eficiencia, flexibilidad y velocidad. 
                </li>
            </ul>
        </div>
        <p class="TextoBinforme" style=" margin-right:140px ;margin-top: 20px;">
            La siguiente estimación* debe permitir entender el poencial beneficio para la empresa "{{Nombre_empresa}}" al
            convertirse en un Líder Digital en cada una de las tres dimensiones de nuestro Diagnóstico. Para lograrlo, es
            necesario apuntar al nivel 4 de cada una de las variables, teniendo en cuenta su nivel actual de Madurez Digital de Operaciones.
          </p>
          <div class="Flecha2Informe" style="margin-top:-130px ; margin-left: 20px;"> 
            <br/>
        </div>
        <div class="Flecha1Informe" style="margin-top:-850px ; margin-left: 20px;"> 
            <br/>
        </div>
        <div class="Flecha2Informe" style="margin-top:-750px ; margin-left: 20px;"> 
            <br/>
        </div>
        <div class="Tabla3Informe" style="margin-top:-1450px;"> <br/> </div>
        <p class="TextoBinforme" style=" margin-left:450px ;margin-top: -610px;">
            <strong>
            Tipo de potencial   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Rango en %   &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;      Rango en COP: COP a COP por año
        </strong>
        </p>
        <p class="TextoBinforme" style=" margin-left:240px ;margin-top: 300px; margin-right:200px;">
            Nuestras estimaciones se alimentan de la información compartida en el Diagnóstico y
            de experiencias en empresas y proyectos similares. 
          </p>
   
          <p class="TextoB2Informe">
            <strong style="margin-left: -80px;">
                3. ¿Cómo avanzar con la Transformación Digital de Operaciones?
                </strong>
         </p>
         <p class="TextoBinforme" style=" margin-left:-70px ;margin-top: -80px; margin-right:200px;">
            Cuales serían los siguientes pasos
          </p>
          <p class="TextoBinforme" style=" margin-left:-20px ;margin-top: 5px; margin-right:600px;">
           <strong>
            Transformación Digital de Operaciones - de manera controlado y priorizada. La clave
            está en la orientación hacia el beneficio para el negocio.
        </strong>
          </p>
          <div class="TextoBinforme">
            <ul style="margin-left: -20px;margin-top:2px; margin-right: 700px; ;">
                <li> Para digitalizar los procesos prpductivos se requiere invertir en Tecnologías Habilitantes.
                </li>
                <br/>
                <br/>
                <li > 
                    Frente a sus principales Retos de Negocio, existen soluciones específicas a la medida de las empresas en Colombia.
                </li>
                <br/>
                <br/>
                <li > 
                    Las Transfromaciones son complejas y requieren altos niveles de compromiso y recursos. Le recomendamos ir
                    paso a paso e iniciar con un proyecto "faro": Alcance limitado a una linea de producción, con un Costo/Beneficio
                    importante que impacte el negocio 
                </li>
                <br/>
                <br/>
                <li > 
                    Para ilustrarlo frente al Reto de Negocio #1: "Mejorar Eficiencia Operacional en general"
                </li>
            </ul>
        </div>
        
        <div class="back4Informe" style="margin-top:-550px ;">
        <p class="TextoB2Informe">
            <strong style="margin-left: 600px; margin-top: 10px;">
                Proyecto
                </strong>
         </p>
         <p class="TextoBinforme" style=" margin-left:600px ;margin-top: -70px; margin-right:100px;">
            Mejorar la Eficiencia operacional mediante la digitalización de la información del piso de planta.
        
          </p>
          <p class="TextoBinforme" style=" margin-left:600px ; margin-right:40px;">
            <strong>
            Alcance y Tecnología Habilitante: 
        </strong>
          </p>
          <div class="TextoAinforme">
            <ul style="margin-left: 600px;margin-top:2px; margin-right: 40px; ;">
                <li> Dotar la planta con infraestructura tecnológica de Comunicaciones.
                </li>
                <li > 
                    Digitalizar los flujos de información del piso de planta mediante el uso del Internet Industrial de las Cosas(IIoT).
                </li>
                <li > 
                    Visualizar indicadores clave en tiempo real mediante el uso de pantallas industriales y dispositivos personales.
                </li>
                
            </ul>
        </div>
        
    </div>
    <div class="Tabla4Informe" style="margin-top:-850px; margin-left: 300px;"> <br/> </div>
    
    <div class="Flecha2Informe" style="margin-top:-700px ; margin-left: 20px;"> 
        <br/>
    </div>
    <div class="Flecha2Informe" style="margin-top:-850px ; margin-left: 20px;"> 
        <br/>
    </div>
    <div class="Flecha1Informe" style="margin-top:-850px ; margin-left: 20px;"> 
        <br/>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="LogoMorado" style="margin-top:-850px ; margin-left: 20px;"> 
        <br/>
    </div>
    
    <div style="margin-top: -900px;" class="UltmpgInforme">
   
    <p class="TextoB2Informe">
        <strong style="margin-left: -80px;"> 
           4. Nuestra Invitación
            </strong>
     </p>
    </div>
    </body>
