<!DOCTYPE html>
<html lang="en">
<head>
   {%load static %}
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width", initial-scale="1.0">
   <link rel="stylesheet" href="{% static '/diseno.css' %}">

   <body> 
  
     <div class="FondoInicInforme">
        <div align="center" id="TextoDiagnostico" class="TextoDiagnostico">
            <strong>
               Tranformación Digital de Operaciones      
            </strong>   
        </div> 
    </div>

        <div class="divTextobienvenido" style="margin-top:-600px ;">
            <p class="TextoB">
                
                    Su nivel actual de Madurez Digital en Operaciones y los potenciales beneficios para la empresa:
                
                
            </p>
            <p class="TextoB2">
                <strong>
                    XXX NOMBRE EMPRESA
                </strong>
    
            </p>
            <p class="TextoB">
                
                Documento elaborado con la ayuda de: "NOMBRE DEL USUARIO DEL DIAGNOSTICO"
             
           </p>
           <p class="TextoB2">
            <strong>
                "XXX CARGO DEL USUARIO"
            </strong>

        </p>

        <div class="logoIbisa"> </div>
   
    </body>
