<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static '/diseno.css' %}">
    <title>  
        Inicio1
    </title>
</head>
<body> 
    <div id="divBarraProgreso">
        <center>
            <div class="text-xs-center" id="progressId"><strong>0 of 19</strong>
            <progress class="progress" rol="progressbar" value="0" max="19" aria-describedby="progressId">
            </progress> 
            </div>
        </center>
    </div>
    <div id="ImagendeMarca">
            <center><img src="https://s3-alpha-sig.figma.com/img/2d73/19f1/1b8efeac0b7275a45065ab8052315e4f?Expires=1662336000&Signature=RtbUyJ~UptOnc5dSJMXDBU1OCbZB56N11UqKTz8SdmQjvVcfKSBdqP-DWhQTOSmzkuAhPbMhaM3rruu3YnhedhsqDVQ3-1Hq4-ymg5l28m6TMGFWhJO4n6ibujfgNE7mCw6Hr4aB7a6ATxMiD8uFJb06c1crEqvxzWjtE60l44e9JxF05wEFpnzba08U~Jl2EhgCp9CvThJFQ31EzOsY0B72lbWann51gIbfjv8OunbUFa-R79wqB0fKeNseX00iGamzWIFu5YMcZ0LngylQjMKZmz4LD-VlBakxivvpUTkOdK3oSAzxIwzd8l~z-67mFx2k~SHDQbjxmTzZywoNcA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" class="imgIbisa" alt="" align="middle">
            <img src="https://s3-alpha-sig.figma.com/img/5c2b/3ad7/47e4047c5ff3694515b44c9ee1c04362?Expires=1662336000&Signature=d9LBxevXqL2MUWATXnjskgwGJnYecKZjD9KZkMWg0jV3XOxPEvMQQ74dhACr22q3bcgX2jASE7LITl0HC2KmHCQ-S2xAzZCcfd~fR80u88YpdAoYtKzDg0Usz8kTd4h6G08wIvKcYRi2KUzHjrf92YM2E5dvi2zmRJxVp~lR~dx0C~6fR48DdsIicvkRuMWjI8641LgJv4J7eyyaSaUG2PUKFoiAaV4OJB1Ht6X5UCqww6vk6kj~B1YOn99tExnsAmeQxblXmpERaHb1jqtC2Bgkae2~xg-yJ913eDhvnohIOl2j6TGXp8f89W9hmNVuizpdcfJI0tEp-z5ENc1~zQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" class="imgJaveriana" alt="" align="middle"></center>
            <center>
                <img src="https://s3-alpha-sig.figma.com/img/ad79/a0cf/a73d00eb6543e0448451d1d865ef10d2?Expires=1662336000&Signature=ZsiNCxpaTtnm8riVlvumrQdiA-U0MUzxI60elszdhDklWvOoHuEtceTw3zKPdWWOYoPPnaVHpn7inchCCfBFe9-wG4iptJLCnX8ZtWylif7OqxcJIcwq0YWN82N1xFYspMvTuxhFTQ4HiHaX4GfRkjPpvs26pXdaztucRiTYbzCrMOqM8eKa9yStKWWxyAitDd9HuUZZX80Jbvoau3CnRePnD3xY7kns8Aqa9PG46pPmGARuOLJVOrxppDUFmT5Xg5HZQZ-PdYYk1QZ~0Th7CmYpJcE2i5fiySYJRXsTrGaIPNGbwhfaAtBSiqZ8yi8O3sUuH29x25f5w96-TILHcg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" class="imgColombia">
            </center>
    </div>
    <div class="divTitulo">
        <center>
            <p class="Bienvenido">
                Bienvenido al diagnóstico de madurez 4.0 Ibisa
            </p>
        </center>
    </div>
    <div class="divTextobienvenido">
        <p class="TextoB">
                Aquí podrá conocer los potenciales beneficios de la Industria 4.0 para su compañía.
        </p>
        <p class="TextoB2">
            1 diagnóstico - 19 preguntas - 8 minutos.
        </p>
    </div>
    <div class="BotonSiguiente">   
        <center>
            <a name="Siguiente" id="siguiente1" class="btn1" href="/Tercera" role="button" style="text-decoration:none">Siguiente</a>
        </center>
    </div>
    <div class="UltimaImg">
        <center>
            <img src="https://s3-alpha-sig.figma.com/img/35a2/cc0e/e4339ee524bc9232476c1ea9a72ca484?Expires=1661731200&Signature=YebVSEtZ50R2Q0Vl14mzf5~xPV3wDTOcfNRNvEPPsN3oY3YeUsu5LWdvu15rMvuAg0eTdHpa8o7TlR7R0RtbB9EjVFTQXxuCIj8uky4mmPeV7jRr8K-Ilw2H49i6jf9sSzQz8lA-XKgN9VMz0MdZrU2gso02Kl6nDLGiz8wHMtLlX9AiRQM4VYKqp1SdnM6ahYP-Y5ixhaKPVUxXTWYb1hq6rF7T9zq28fPmLA9JDxiM4GFxRHuiV5A6qrtNmqUM30IdjdOTuyil6~YIHtS6lVEX0eG93YVxjwE3lcGX5-mPqFfSLpMzGTvTW9FdUkHBnmga49gVvawUsyH0ybsp5w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" class="Imagen" alt="">
        </center>
    </div>
</body>
</html>