<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static '/diseno.css' %}">
    <title>  
        Inicio1
    </title>
</head>
<body> 
    <div id="divBarraProgreso">
        <center>
            <div class="text-xs-center" id="progressId"><strong>0 of 19</strong>
            <progress class="progress" rol="progressbar" value="0" max="19" aria-describedby="progressId">
            </progress> 
            </div>
        </center>
    </div>
    <div id="ImagendeMarca">
            <center><img src="https://s3-alpha-sig.figma.com/img/7b88/5199/40bc3ade35801b86af02c2749927d35f?Expires=1663545600&Signature=RHoHsTLMFThHW9eOenGVktwDt6iBSmyh4KhzqdWRxmaHoiwYi3bxCD58NL07TjJ-zXlgTcJJfSAiMnliVnjyGZ9Yp8mqiqfAqSSIf9bpZfKEUXU3IpOd-~lVwo8hosIvba1lR-6ghLb4biqn6SJOT72CX7Pj~pw0JeP1Mz~1NYdRN-MTgpu8~lYx7LvwurfOxnAeuVKDR6Oct7p2Xr7cmvsdNxDxwYCPsmXSEbykuImZMdXGr7Zsm~u6LL2IKNoU5TQSh1cd972jXHWMnhW1ni4gyCQLyz5U6IMKoR8llZRRa41VKl55EvvBbc9HMY-v5dn2KF4ynioe6xXbnSI6QA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" class="imgIbisa" alt="" align="middle">
            <img src="https://s3-alpha-sig.figma.com/img/5c2b/3ad7/47e4047c5ff3694515b44c9ee1c04362?Expires=1663545600&Signature=gWsW1WjkKmB3ZNF1NBef1HDmJn6JgAyNpmoUrf9DPkBGK3Oy6spLHpY9GaLezNxykpu1lVUzY1ooLG5M1ZFjXktKfwoDOaQXRpSz9HFInjgg98x-YC5JJH3AYtmqXCTHWV0mhD8eQV8kmr751WDW6HIU6vB1nzE1vtI7pw~v792ujhytDJjRpG3S9hUFUbo3hne3PVwwQPCj6f9xzL5KCsWn3chkdoPFRUu4H6GL6WIHimNR~XcWjbIf7GrDShbPrjE95Q20y6AskBBQ3j6twI6a6U7PukdRVmGHOJJ-DrBjH66Tl11wy8rbidEJqqKTpH6nGpPkwVO2AzRQqlXggg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" class="imgJaveriana" alt="" align="middle"></center>
    </div>
    <div class="divTitulo">
        <center>
            <p class="Bienvenido">
                Bienvenido al diagnóstico de madurez 4.0 Ibisa
            </p>
        </center>
    </div>
    <div class="divTextobienvenido">
        <p class="TextoB">
            Ibisa Group y la PUJ le invitamos a realizar el Diagnóstico de Madurez Digital en Operaciones, para estimar los potenciales beneficios de la Industria 4.0 para su empresa.
        </p>
        <p class="TextoB2">
            1 diagnóstico - 19 preguntas - 8 minutos.
        </p>
    </div>
    <div class="BotonSiguiente">   
        <center>
            <a name="Siguiente" id="siguiente1" class="btn1" href="/Segunda" role="button" style="text-decoration:none">Siguiente</a>
        </center>
    </div>
    <div class="UltimaImg">
        <center>
            <img src="https://s3-alpha-sig.figma.com/img/35a2/cc0e/e4339ee524bc9232476c1ea9a72ca484?Expires=1662940800&Signature=Qh0cmnQPOG8CDmZ4-7tkdvG6lZ1nsXT08gne2j1SLgYbolxPAYNzRh-c6Px6dt9mqFaFr8vp3EtzWT53zltK0aKGzs3Tl3GUx1lkVlVNSF5XhlB-ZU2p~jmGswZ5L4ideUbnzoZwDSnUDlarsoL1eQWAmR-~s2e3PvNnUObnfvJdt7rI~xUbv3WyOk5sgYxEFjjHKdOuWxh8uKUbzZXIdomUDUL52jabZ~jNi0Kvle8awX--YJavWZk9jzU2gXE5BFzyPCfmiu~QbjOEAlK9oAWbDfYVF5wUleSpzj59tsKZLDaeKY9Lr0dcgGpBYK5gBCGiwNh8UaUQqt6hrcBD0w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" class="Imagen" alt="">
        </center>
    </div>
</body>
</html>