<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=365"/>
    <link rel="stylesheet" href="{% static '/diseno.css' %}">
    
    <title>  
        Inicio
    </title>
</head>
<body> 
    <div id="ImagendeMarca">
            <img src="https://s3-alpha-sig.figma.com/img/b8f8/5467/acba50894f277964d968f31b9943b8a7?Expires=1661731200&Signature=VXoXP5rDQvkT240DOhsFKuTxCJJh3tm4MUrRk8h5jjyHroOSqiwenBX00oqDTgvABc8Pc0Df4WtVv7TsBNiXQO-~KP2sWqKdGdSOeCYx7L60lffQw8IqfwUBU0-1tYWLdg2GZIchFKlLW6In59ybsKs87ScpT9K6LFH8WmCP4QX49PGI420CKptwyXhFbRTQyFqt-GX~2iH045RSFGsQ7xEY2r~6bUq2~Bedw97KCDCqKp5IX320m-hI10yMocEXQW~N-dNkYcJMSs8jbsvtKUIz96iDoxbhdz-mm45~7hRPI4YEIOA2C87N9t3RFPja7yovUPoe1-BcFIcgLAtTow__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" class="imgIbisa" alt="">
    </div>
    <div class="divTitulo">
        <h1 class="Bienvenido">
                <strong>
                        Bienvenido a Madurez 4.0 Ibisa
                </strong>
        </h1>
    </div>
    <div class="divTextobienvenido">
        <p class="TextoB">
                Podrá conocer los potenciales beneficios de la Industria 4.0 para su compañía en tan solo 8 minutos 
        </p>
    </div>
    <div class="BotonSiguiente">   
            <a name="Siguiente" id="siguiente1" class="btn1" href="#" role="button">Siguiente</a>
    </div>
    <div class="UltimaImg">
        <img src="https://s3-alpha-sig.figma.com/img/35a2/cc0e/e4339ee524bc9232476c1ea9a72ca484?Expires=1661731200&Signature=YebVSEtZ50R2Q0Vl14mzf5~xPV3wDTOcfNRNvEPPsN3oY3YeUsu5LWdvu15rMvuAg0eTdHpa8o7TlR7R0RtbB9EjVFTQXxuCIj8uky4mmPeV7jRr8K-Ilw2H49i6jf9sSzQz8lA-XKgN9VMz0MdZrU2gso02Kl6nDLGiz8wHMtLlX9AiRQM4VYKqp1SdnM6ahYP-Y5ixhaKPVUxXTWYb1hq6rF7T9zq28fPmLA9JDxiM4GFxRHuiV5A6qrtNmqUM30IdjdOTuyil6~YIHtS6lVEX0eG93YVxjwE3lcGX5-mPqFfSLpMzGTvTW9FdUkHBnmga49gVvawUsyH0ybsp5w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" class="Imagen" alt="">
    </div>
</body>
</html>