<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static '/diseno.css' %}">
    <title>  8/16 </title>  
</head>
<body>
    <div id="divBarraProgreso" background-image="">
        <center>
            <div class="text-xs-center" id="progressId"><strong>8 of 19</strong>
                <progress class="progress" rol="progressbar" value="8" max="19" aria-describedby="progressId">
                </progress> 
            </div>
        </center>
    </div>
    <div class="DivtituloPag7">
        <h1 class="tituloPag7">
            <strong>
                <center>
                    Dimensión 3: Tecnología habilitante.
                </center>
            </strong>
        </h1>
    </div>
    <div class="PreguntasSeptima" id="PreguntasSeptima">
        <center align="left">
            <h1 class="Pregunta1Septima">1. Nuestro nivel de automatización y uso de tecnología de operación (OT) en procesos productivos.</h1>
        </center>
        <div class="btn-group" data-bs-toggle="buttons">
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" class="me-2" name="" id="" autocomplete="off"> Operación manual de todos los procesos productivos.
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off"> Parte de los procesos productivos ya están automatizados.
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off"> Operación automática de (casi) todos los procesos operativos. 
                    Aún hay intervencion manual para ajuste, programación y/o soporte.
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off">Procesos operativos al 100% automatizados. 
                    Cada máquina, estación con configuración o diagnostico remoto.
                    Intervención humana solo para mantenimiento fisico.
                    
                </label>
            </div>
        </div>
        <center align="left">
            <h1 class="Pregunta1Septima">2. Nuestro nivel de conexión de sistemas operativas (OT) con sistemas de información (IT) y nivel de envío e uso de información de producción.</h1>
        </center>
        <div class="btn-group" data-bs-toggle="buttons">
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" class="me-2" name="" id="" autocomplete="off"> No se generan datos del proceso productivo.
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off"> Se generan datos mediantes sensores.
                    Se recopilan algunos datos del proceso de manera manual en papel, carpetas fisicas o MS Excel.
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off">Casi todas las máquinas, estaciones generan datos mediante PLC, ESCADA, etc. 
                    Estos datos estan extraidos manualmente, usando formularios digitales. 
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off">Todas las máquinas, estaciones envian datos automáticamente mediante IoT y en tiempo real para su análisis oportuno.
                    
                </label>
            </div>
        </div>
        <center align="left">
            <h1 class="Pregunta1Septima">3. Usamos datos para garantizar la ejecución y estabilidad del proceso productivo.</h1>
        </center>
        <div class="btn-group" data-bs-toggle="buttons">
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" class="me-2" name="" id="" autocomplete="off">Sin monitoreo del proceso productivo en las maquinas, estaciones.
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off">Monitoreo in situ por interfaz hombre máquina, estación.
                    Se generan algunos datos e indicadores del proceso.
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off">Monitoreo in situ por interfaz hombre máquina, estación.
                    Indicadores con detección automática de fallas.
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off">Monitoreo in situ y remoto de la máquina, estación.
                    Detección automática de fallas.
                    Notificaciones automáticas.
                    
                </label>
            </div>
        </div>
    </div>
    <div class="BotonSiguienteTercera">   
        <center>
            <a name="Siguiente" id="siguiente3" class="btn1" href="#" role="button">Siguiente</a>
        </center>
    </div>
</body>
</html>