<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static '/diseno.css' %}">
    <title>  8/16 </title>  
</head>
<body>
    <div id="divBarraProgreso" class="w3-container" style="background-image: url('https://lh3.google.com/u/2/d/1C-RRGgiPJsRpEUH8iQl48Xpx6kVTSKR3=w1439-h820-iv1');">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            
           <div class="w3-section w3-light-grey">
              <div class="w3-container w3-padding w3-deep-orange w3-deep-orange w3-center" style="width:54%">54%</div>
            </div>
   
     <div class="DivtituloPag9">
        <h1 class="tituloPag9">
            <strong>
                <center>
                    Dimensión 3: Tecnología habilitante.
                </center>
            </strong>
        </h1>
    </div>
    </div>
    <div class="PreguntasNovena" id="PreguntasNovena">
     <ol>  
                <center align="left">
                    <h1 class="PreguntaNovena"> 1. Nuestro nivel de automatización y uso de tecnología de operación (OT) en procesos productivos.</h1>
                </center>
                <div class="btn-group" data-bs-toggle="buttons">
                    <label>
                        <input type="radio" name="Dim3P1" class="azul" id="Dimension3P1O1"/> 
                        <span style="color:#056CF2;bottom: 16px;">1</span> 
                        <span class=" Textobults">
                            <ul style="margin-left:60px; margin-top: -60px">
                                <li>Operación manual de todos los procesos productivos.</li>
                            </ul>
                        </span>
                        </label>
                        <br/>
                        <br/>
                        <br/>
                        <br/>

                    <label>
                        <input type="radio" name="Dim3P1" class="azul" id="Dimension3P1O2"/>  
                        <span style="color:#056CF2;bottom: 16px">2</span>   
                        <span class=" Textobults">
                        <ul style="margin-left:60px; margin-top: -60px">
                                <li>Parte de los procesos productivos ya están automatizados.</li>
                            </ul>
                        </span>
                        </label>
                        <br/>
                        <br/>
                        <br/>
                        <br/>

                    <label>
                        <input type="radio" name="Dim3P1" class="azul" id="Dimension3P1O3"/>  
                        <span style="color:#056CF2;bottom: 16px">3</span> 
                        <span class=" Textobults">
                        <ul style="margin-left:60px; margin-top: -60px">
                                <li>Operación automática de (casi) todos los procesos operativos.</li>
                                <li>Aún hay intervencion manual para ajuste, programación y/o soporte.</li>
                            </ul>
                        </span>
                        </label>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                    <label>
                        <input type="radio" name="Dim3P1" class="azul" id="Dimension3P1O4"/>
                        <span style="color:#056CF2;bottom: 16px">4</span> 
                        <span class=" Textobults">
                        <ul style="margin-left:60px; margin-top: -60px">
                                <li>Procesos operativos al 100% automatizados.</li>
                                <li>Cada máquina, estación con configuración o diagnostico remoto.</li>
                                <li>Intervención humana solo para mantenimiento fisico.</li>
                                <li>Intervención manual solo para soporte.</li>
                            </ul>
                        </span>
                        </label>
                        <br/>
                        <br/>
                </div>
            
            
                <center align="left">
                    <h1 class="PreguntaNovena">2. Nuestro nivel de conexión de sistemas operativas (OT) con sistemas de información (IT) y nivel de envío e uso de información de producción.</h1>
                </center>
                <div class="btn-group" data-bs-toggle="buttons">
                    <label>

                        <input type="radio" name="Dim3P2" class="azul" id="Dimension3P2O1"/> 
                        <span style="color:#056CF2;bottom: 16px">1</span> 
                        <span class=" Textobults">
                            <ul style="margin-left:60px; margin-top: -60px">
                                <li>No se generan datos del proceso productivo.</li>
                            </ul> 
                        </span>
                        </label>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>

                    <label>
                        <input type="radio" name="Dim3P2" class="azul" id="Dimension3P2O2"/> 
                        <span style="color:#056CF2;bottom: 16px">2</span> 
                        <span class=" Textobults">
                            <ul style="margin-left:60px; margin-top: -60px">
                                <li>Se generan datos mediantes sensores.</li>
                                <li>Se recopilan algunos datos del proceso de manera manual en papel, carpetas fisicas o MS Excel.</li>
                            </ul>
                        </span>
                        </label>
                        <br/>
                        <br/>
                        <br/>
                    <label>
                        <input type="radio" name="Dim3P2" class="azul" id="Dimension3P2O3"/> 
                        <span style="color:#056CF2;bottom: 16px">3</span> 
                        <span class=" Textobults">
                            <ul style="margin-left:60px; margin-top: -60px">
                                <li>Casi todas las máquinas, estaciones generan datos mediante PLC, ESCADA, etc. </li>
                                <li>Estos datos estan extraidos manualmente, usando formularios digitales.</li>
                            </ul> 
                        </span>
                        </label>
                        <br/>
                        <br/>
                        <br/>
                     <label>
                        <input type="radio" name="Dim3P2" class="azul" id="Dimension3P2O4"/> 
                        <span style="color:#056CF2;bottom: 16px">4</span> 
                        <span class=" Textobults">
                            <ul style="margin-left:60px; margin-top: -60px">
                                <li>Todas las máquinas, estaciones envian datos automáticamente mediante IoT y en tiempo real para su análisis oportuno.</li>
                            </ul>
                        </span>
                        </label>
                        <br/>
                        <br/>
                        <br/>
                </div>
            
            
                <center align="left">
                    <h1 class="PreguntaNovena"> 3. Usamos datos para garantizar la ejecución y estabilidad del proceso productivo.</h1>
                </center>
                <div class="btn-group" data-bs-toggle="buttons">
                    <label>
                        <input type="radio" name="Dim3P3" class="azul" id="Dimension3P3O1"/> 
                        <span style="color:#056CF2;bottom: 16px">1</span> 
                        <span class=" Textobults">
                            <ul style="margin-left:60px; margin-top: -40px">
                                <li>Sin monitoreo del proceso productivo en las maquinas, estaciones.</li>
                            </ul>
                        </span>
                        </label>
                        <br/>
                        <br/>
                        <br/>
                        <br/>

                    <label>
                        <input type="radio" name="Dim3P3" class="azul" id="Dimension3P3O2"/> 
                        <span style="color:#056CF2;bottom: 16px">2</span> 
                        <span class=" Textobults">
                            <ul style="margin-left:60px; margin-top: -50px">
                                <li>Monitoreo in situ por interfaz hombre máquina, estación.</li>
                                <li>Se generan algunos datos e indicadores del proceso.</li>
                            </ul>
                        </span>
                        </label>
                        <br/>
                        <br/>
                        <br/>

                    <label>
                        <input type="radio" name="Dim3P3" class="azul" id="Dimension3P3O3"/> 
                        <span style="color:#056CF2;bottom: 16px">3</span> 
                        <span class=" Textobults">
                            <ul style="margin-left:60px; margin-top: -50px">
                                <li>Monitoreo in situ por interfaz hombre máquina, estación.</li>
                                <li>Indicadores con detección automática de fallas.</li>
                            </ul>
                        </span>
                        </label>
                        <br/>
                        <br/>
                        <br/>
                    <label>
                        <input type="radio" name="Dim3P3" class="azul" id="Dimension3P3O4"/> 
                        <span style="color:#056CF2;bottom: 16px">4</span> 
                        <span class=" Textobults">
                            <ul style="margin-left:60px; margin-top: -50px">
                                <li>Monitoreo in situ y remoto de la máquina, estación.</li>
                                <li>Detección automática de fallas.</li>
                                <li>Notificaciones automáticas.</li>
                            </ul>
                        </label>
                        <br/>
                        <br/>
                </div>
            
            </div>
        </ol>
    

    <div class="BotonSiguienteTercera">   
        <center>
            <a name="Siguiente" id="siguiente3" class="btn1" href="/Decima" role="button" style="text-decoration:none" onclick='guardar9()'>Siguiente</a>
        </center>
    </div>
</body>
</html>

<script language="JavaScript">
    function guardar9(){
        Dimension3R1=0;
        Dimension3R2=0;
        Dimension3R3=0;

        if (document.getElementById('Dimension3P1O1').checked) {
            Dimension3R1 = 1;
        } else if(document.getElementById("Dimension3P1O2").checked){
            Dimension3R1 = 2;
        } else if(document.getElementById("Dimension3P1O3").checked){
            Dimension3R1 = 3;
        } else{
            Dimension3R1 = 4;
        }

        if (document.getElementById('Dimension3P2O1').checked) {
            Dimension3R2 = 1;
        } else if(document.getElementById("Dimension3P2O2").checked){
            Dimension3R2 = 2;
        } else if(document.getElementById("Dimension3P2O3").checked){
            Dimension3R2 = 3;
        } else{
            Dimension3R2 = 4;
        }

        if(document.getElementById("Dimension3P3O1").checked){
            Dimension3R3 = 1;
        } else if(document.getElementById("Dimension3P3O2").checked){
            Dimension3R3 = 2;
        } else if(document.getElementById("Dimension3P3O3").checked){
            Dimension3R3 = 3;
        } else{
            Dimension3R3 = 4;
        }

        sessionStorage.setItem('Dimension3R1', Dimension3R1);
        sessionStorage.setItem('Dimension3R2', Dimension3R2);
        sessionStorage.setItem('Dimension3R3', Dimension3R3);
    }
</script>