<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static '/diseno.css' %}">
    <title>  6/19 </title>  
</head>
<body>
    <div id="divBarraProgreso" class="w3-container">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            
           <div class="w3-section w3-light-grey">
              <div class="w3-container w3-padding w3-deep-orange w3-deep-orange w3-center" style="width:45%">45%</div>
            </div>
    </div>
    <div class="DivtituloPag7">
        <h1 class="tituloPag8">
            <strong>
                <center>
                    Dimensión 2: Mercado y producto 
                </center>
            </strong>
        </h1>
    </div>
    <div class="PreguntasSeptima" id="PreguntasSeptima">
        <ol>
            
                <center align="left">
                    <h1 class="Pregunta1octava">1. Hemos integrado y optimizado los procesos de planeación de la demanda con la planeación de la producción y de toda la logística.</h1>
                </center>
                <div class="btn-group" data-bs-toggle="buttons">
                    <label>
                        <input type="radio" id="Dimension2P1O1" name="Dim2P1" class="mora"/>
                        <span style="color:#653BBF">1</span> <span class=" Textobults">
                        <ul style="margin-left:60px; margin-top: -60px">
                            <li>Se hace proyección de la demanda mediante datos históricos, ajustados por inflación.</li>
                            <li>No hay integración entre marketing, ventas y producción. </li>
                            <li>Se produce para el inventario. </li>
                            <li>Se usan descuentos importantes para intentar consumir el inventario. </li>
                        </ul>
                        </span>
                    </label>
                    <br/>
                    <br/>
                    <br/>
                    <Label>
                    <input type="radio" id="Dimension2P1O2" name="Dim2P1" class="mora"/>
                    <span style="color:#653BBF">2</span> <span class=" Textobults">
                         <ul style="margin-left:60px; margin-top: -60px">
                            <li>Herramientas para predecir nivel de ventas (COP), pero no diferenciadas por producto o canal.</li>
                            <li>Proyecciones de demanda para planear producción en MS Excel, con oportunidades de optimizarlo.</li>
                        </ul>
                        </span>
                    </label>
                    <br/>
                    <br/>
                    <br/>
                    <label>
                        <input type="radio" id="Dimension2P1O3" name="Dim2P1" class="mora"/>
                    <span style="color:#653BBF">3</span> <span class=" Textobults">
                            <ul style="margin-left:60px; margin-top: -60px">
                                <li>Proyección de demanda por producto, canal, territorio, clientes específicos.</li>
                                <li>Proyecciones precisas de demanda para planear producción en MS Excel.</li>
                            </ul>
                            </span>
                        </label>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                    <label>
                        <input type="radio" id="Dimension2P1O4" name="Dim2P1" class="mora"/>
                        <span style="color:#653BBF">4</span> <span class=" Textobults">
                            <ul style="margin-left:60px; margin-top: -60px">
                                <li>Lo anterior más:</li>
                                <li>Herramientas analíticas y autónomas (machine learning) para Analítica predictiva.</li>
                                <li>Proyección de demanda define lotes de producción y la logística inbound. </li>
                                <li>Logística y producción es un solo proceso integrado.</li>
                            </ul>
                            </span>
                        </label>
                        <br/>
                </div>
           
            
                <center align="left">
                    <h1 class="Pregunta1octava"> 2. Usa tecnologia para comunicar su propuesta de valor o agilizar nuevos negocios.</h1>
                </center>
                <div class="btn-group" data-bs-toggle="buttons">
                      <label>
                         <input type="radio" name="Dim2P2" class="mora"/>
                         <span style="color:#653BBF">1</span>
                         <span class="Textobults">
                            <ul style="margin-left:60px; margin-top: -40px">
                                <li>No hay estrategia digital o no se ha comunicado a empleados.</li>
                            </ul>
                         </span>
                    </label>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <label>
                        <input type="radio" name="Dim2P2" class="mora"/> 
                        <span style="color:#653BBF">2</span>
                        <span class="Textobults">
                            <ul style="margin-left:60px; margin-top: -40px">
                                <li> No se usan tecnologías 4.0 con los potenciales clientes y mercados. </li>
                    
                            </ul>
                        </span>
                    </label>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <label>
                        <input type="radio" name="Dim2P2" class="mora"/>
                        <span style="color:#653BBF">3</span>
                        <span class="Textobults">
                            <ul style="margin-left:60px; margin-top: -90px">
                                <p>Estamos estudiando el uso de tecnologías I4.0 como:</p>
                                <li> Realidad virtual (RV) o Realidad aumentada (RA). </li>
                                <li> Trazabilidad digital del producto para sus clientes, mediante QR y landing page. </li>
                                <li>  Simuladores digitales que permitan "configurar" un producto personalizdo. </li>
                            </ul>
                            </span>
                    </label>
                    <br/>
                    <br/>
                    <br/>
                    <label>
                        <input type="radio" name="Dim2P2" class="mora"/>
                        <span style="color:#653BBF">4</span>
                        <span class="Textobults">
                            <ul style="margin-left:60px; margin-top: -40px">
                                <li>Estamos implementando una de estas technologías dentro de 12 meses.</li>
                                
                            </ul>
                        </span>
                    </label>
                    <br/>
                    <br/>
                    <br/>
                    <label>
                        <input type="radio" name="Dim2P2" class="mora"/>
                        <span style="color:#653BBF">5</span>
                        <span class="Textobults">
                            <ul style="margin-left:60px; margin-top: -90px">
                                <p>Ya estamos usando exitosamente technologías de I4.0 para comunicar la Propuesta de valor en los mercados:</p>
                                <li> RV/ RA para enseñar productos y procesos a clientes.</li>
                                <li> Trazabilidad digital (QR, landing page) de los productos para el cliente final. </li>
                                <li> Clientes configuran "su producto" a la medida (online). </li>
                                
                            </ul>
                        </span>
                    </label>
                </div>
            </li>
        </ol>
    </div>
    <div class="BotonSiguienteTercera">   
        <center>
            <a name="Siguiente" id="siguiente3" class="siguiente8" href="/Novena" role="button" style="text-decoration:none" onclick='guardar8()'>Siguiente</a>
        </center>
    </div>
</body>
</html>

<script language="JavaScript">
    function guardar8() {
        Dimension2R1='';
        Dimension2R2='';

        if (document.getElementById('Dimension2P1O1').checked) {
            Dimension2R1 = '1';
        }else if (document.getElementById('Dimension2P1O2').checked) {
            Dimension2R1 = '2';
        }else if (document.getElementById('Dimension2P1O3').checked) {
            Dimension2R1 = '3';
        }else{
            Dimension2R1 = '4';
        }

        if(document.getElementById('Dimension2P2O1').checked){
            Dimension2R2 = '1';
        }else if(document.getElementById('Dimension2P2O2').checked){
            Dimension2R2 = '2';
        }else if(document.getElementById('Dimension2P2O3').checked){
            Dimension2R2 = '3';
        }else{
            Dimension2R2 = '4';
        }

        sessionStorage.setItem('Dimension2R1', Dimension2R1);
        sessionStorage.setItem('Dimension2R2', Dimension2R2);
    }
</script>