<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static '/diseno.css' %}">
    <title>  8/16 </title>  
</head>
<body>
    <div id="divBarraProgreso" background-image="">
        <center>
            <div class="text-xs-center" id="progressId"><strong>10 of 19</strong>
                <progress class="progress" rol="progressbar" value="10" max="19" aria-describedby="progressId">
                </progress> 
            </div>
        </center>
    </div>
    <div class="DivtituloPag7">
        <h1 class="tituloPag7">
            <strong>
                <center>
                    Dimensión 3: Tecnología habilitante.
                </center>
            </strong>
        </h1>
    </div>
    <div class="PreguntasSeptima" id="PreguntasSeptima">
        <center align="left">
            <h1 class="Pregunta1Septima">6. Usamos medición en tiempo real para controlar el desempeño de sus procesos.</h1>
        </center>
        <div class="btn-group" data-bs-toggle="buttons">
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" class="me-2" name="" id="" autocomplete="off"> No usamos indicadores del proceso productivo.
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off"> Se usan indicadores del proceso, tipo OEE. 
                    Pero no en tiempo real: Se calculan ex-post y manual en MS Excel.
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off"> Se calculan indicadores del proceso usando un software.
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off">Se calculan indicadores en tiempo real.
                    Indicadores como OEE se visualización en pantallas.
                    Se generan alertas automatizadas sobre desviaciones.
                    
                </label>
            </div>
        </div>
        <center align="left">
            <h1 class="Pregunta1Septima">7. Usamos soluciones digitales para la planeación y monitoreo del proceso productivo - mediante datos.</h1>
        </center>
        <div class="btn-group" data-bs-toggle="buttons">
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" class="me-2" name="" id="" autocomplete="off">  No hay históricos de datos para tomas de decisiones.
                    Las decisiones toma el operador de turno con base en su experiencia.
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off"> Hay datos históricos del proceso e indicadores.
                    Se usa para planificar la producción con MS Excel. 
                    No usamos modelos analíticos de optimización.
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off">Programación de  operaciones con un software especializado para todos los procesos.
                    Datos históricos e indicadores de eficiencia, que alimentan modelos analíticos de optimización.
                    Reacción a cambios y fallos in situ en cada maquina, estación.
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off">Se calculan indicadores en tiempo real.
                    Indicadores como OEE se visualización en pantallas.
                    Se generan alertas automatizadas sobre desviaciones.
                    
                </label>
            </div>
        </div>
        <center align="left">
            <h1 class="Pregunta1Septima">8. Hemos reducido los accidentes laborales y el ausentimo laboral mediante el uso de tecnología.</h1>
        </center>
        <div class="btn-group" data-bs-toggle="buttons">
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" class="me-2" name="" id="" autocomplete="off">Procedimiento generales y controles puntuales: Manuales. 
                    La operación de maquinaria crítica es controlada con procesos como de 10 años?
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off">Existen sensores y alertas en aquellos procesos que tienen riesgos. 
                    Datos sobre eventos NO son capturados o almacenados para su análisis posterior.
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off">Algunos procesos del sistema SST son digitalizados.
                    Existen sensores y alertas en todos los procesos que tienen algún riesgo.
                   Hay monitoreo de las actividades humanas para detener automáticamente el proceso.
                   Hay datos de eventos criticos son capturados y almacenados para su posterior análisis.
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off">Sistema SST completamente digitalizado. 
                    El accesso a instalaciones y a maquinaria critica se rige por flujos digitalizados de autorizaciones, usando huellas digitales, etc.
                    Puntos críticos en la operación de maquinaria generan alertas automáticas.
                    Hay datos oportunos, completos y veraces para analizar sistemáticamente accidentes, paradas, eventos de incumplimiento, etc.  
                    Procesos de entrenamiento usando tecnologías como RA/RV y gamificación.                     
                </label>
            </div>
        </div>
    </div>
    <div class="BotonSiguienteTercera">   
        <center>
            <a name="Siguiente" id="siguiente3" class="btn1" href="#" role="button">Siguiente</a>
        </center>
    </div>
</body>
</html>