<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static '/diseno.css' %}">
    <title>  8/16 </title>  
</head>
<body>
    <div id="divBarraProgreso" class="w3-container" style="background-image: url('https://lh3.google.com/u/2/d/1C-RRGgiPJsRpEUH8iQl48Xpx6kVTSKR3=w1439-h820-iv1');">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            
           <div class="w3-section w3-light-grey">
              <div class="w3-container w3-padding w3-deep-orange w3-deep-orange w3-center" style="width:81%">81%</div>
            </div>
    
    <div class="DivtituloPag7">
        <h1 class="tituloPag9">
            <strong>
                <center>
                    Dimensión 3: Tecnología habilitante.
                </center>
            </strong>
        </h1>
    </div>
    </div>
    <div class="PreguntasNovena" id="PreguntasNovena" style="margin-left:-10px; margin-right: 15px;">
        <ol start="6">
           
                <center align="left">
                    <h1 class="PreguntaNovena">10. Usamos medición en tiempo real para controlar el desempeño de sus procesos.</h1>
                </center>
                <br/>
                <br/>
                <div class="btn-group" data-bs-toggle="buttons">
                    <label>
                        <input type="radio" name="Dim3P6" class="azul" id="Dimension3P6O1"/> 
                        <span style="color:#056CF2;bottom: 16px;">1</span> 
                        <span class=" Textobults">
                            <ul style="margin-left:60px; margin-top: -70px">
                                <li>Los procedimientos generales y controles puntuales son manuales. </li>
                                <li>No hay trazabilidad de situaciones críticas.</li>
                            </ul>
                        </span>
                        </label>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                    <label>
                        <input type="radio" name="Dim3P6" class="azul" id="Dimension3P6O2"/> 
                        <span style="color:#056CF2;bottom: 16px;">2</span> 
                        <span class=" Textobults">
                            <ul style="margin-left:60px; margin-top: -70px">
                                <li>Existen sensores y alertas en aquellos procesos que tienen riesgos.  </li>
                                <li>Datos sobre eventos NO son capturados o almacenados para su análisis posterior.</li>
                            </ul>
                        </span>
                        </label>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                    <label>
                        <input type="radio" name="Dim3P6" class="azul" id="Dimension3P6O3"/> 
                        <span style="color:#056CF2;bottom: 16px;">3</span> 
                        <span class=" Textobults">
                            <ul style="margin-left:60px; margin-top: -110px">
                                <li> Algunos procesos del sistema SST son digitalizados.</li>
                                <li>Existen sensores y alertas en todos los procesos que tienen algun riesgo.</li>
                           <li> Monitoreo de las actividades humanas para detener automáticamente el proceso.</li>
                           <li> Datos de eventos criticos son capturados y almacenados para su posterior análisis.</li>
                            </ul>
                        </span>
                        </label>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        

                    <label>
                        <input type="radio" name="Dim3P6" class="azul" id="Dimension3P6O4"/> 
                        <span style="color:#056CF2;bottom: 16px;">4</span> 
                        <span class=" Textobults">
                            <ul style="margin-left:60px; margin-top: -110px">
                                <li>Sistema SST completamente digitalizado. </li>
                                <li>El accesso a instalaciones y a maquinaria crítica se rige por flujos digitalizados de autorizaciones, usando huellas digitales, etc.</li>
                                <li>Puntos criticos en la operación de maquinaría generan alertas automaticas.</li>
                           <li>  Hay datos oportunos, completos y veraces para analizar sistemáticamente accidentes, paradas, eventos de incumplimiento, etc. </li>
                           <li>Procesos de entrenamiento usando tecnologías como RA/RV y gamificación</li>
                            </ul>
                        </span>
                    </label>
                    <br/>
                    <br/>

                </div>
           
          
                
    <div class="BotonSiguienteTercera">   
        <center>
            <a name="Siguiente" id="siguiente3" class="btn1" href="/Doceava" role="button" style="text-decoration:none" onclick='guardar11()'>Siguiente</a>
        </center>
    </div>
</body>
</html>

<script language="JavaScript">
    function guardar11(){
        Dimension3R6=0;
        Dimension3R7=0;
        Dimension3R8=0;

        if(document.getElementById('Dimension3P6O1').checked) {
            Dimension3R6 = 1;
        }else if(document.getElementById('Dimension3P6O2').checked) {
            Dimension3R6 = 2;
        }else if(document.getElementById('Dimension3P6O3').checked) {
            Dimension3R6 = 3;
        }else if(document.getElementById('Dimension3P6O4').checked) {
            Dimension3R6 = 4;
        }

        if(document.getElementById('Dimension3P7O1').checked) {
            Dimension3R7 = 1;
        }else if(document.getElementById('Dimension3P7O2').checked) {
            Dimension3R7 = 2;
        }else if(document.getElementById('Dimension3P7O3').checked) {
            Dimension3R7 = 3;
        }else if(document.getElementById('Dimension3P7O4').checked) {
            Dimension3R7 = 4;
        }

        if(document.getElementById('Dimension3P8O1').checked) {
            Dimension3R8 = 1;
        }else if(document.getElementById('Dimension3P8O2').checked) {
            Dimension3R8 = 2;
        }else if(document.getElementById('Dimension3P8O3').checked) {
            Dimension3R8 = 3;
        }else if(document.getElementById('Dimension3P8O4').checked) {
            Dimension3R8 = 4;
        }

        sessionStorage.setItem('Dimension3R6', Dimension3R6);
        sessionStorage.setItem('Dimension3R7', Dimension3R7);
        sessionStorage.setItem('Dimension3R8', Dimension3R8);
    }
</script>