<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static '/diseno.css' %}">
    <title>  4/19 </title>  
</head>
<body>
    <div id="divBarraProgreso">
        <center>
            <div class="text-xs-center" id="progressId"><strong>4 of 19</strong>
                <progress class="progress" rol="progressbar" value="4" max="19" aria-describedby="progressId">
                </progress> 
            </div>
        </center>
    </div>
    <div class="DivtituloPag3">
        <h1 class="tituloPag3">
            <strong>
                <center>
                    Datos generales de la empresa
                </center>
            </strong>
        </h1>
    </div>
    <div class="PreguntasQuinta" id="PreguntasQuinta">

        <p class=TextIndicaciones>¿Cuáles son sus 2 principales retos de su negocio?</p>
        
        
        <div class="btn-group" data-bs-toggle="buttons" role="group">
            <div class="botonRadio">
            <input type="checkbox" name="" id="btn1" autocomplete="off"> Mejorar grado de utilización (GU) : porcentaje del tiempo durante el cual trabaja realmente la máquina, estación.
            </div>

            <div class="botonRadio">
            <input type="checkbox" name="pregunta1" id="btn2" autocomplete="off"> Mejorar grado de rendimiento (GR): porcentaje de productos que se fabrican en el tiempo planificado.
            </div>
            
            <div class="botonRadio">
            <input type="checkbox" name="pregunta1" id="btn3" autocomplete="off">  Mejorar grado de calidad (GC): porcentaje de productos buenos con relación al total de productos fabricados.
            </div>
            
            <div class="botonRadio">
            <input type="checkbox" name="pregunta1" id="btn4" autocomplete="off"> Optimizar el uso del recuso humano, al eliminar tareas de poco valor (Ej.: digitalización de información.)
            </div>
            
            <div class="botonRadio">
            <input type="checkbox" name="pregunta1" id="btn5" autocomplete="off"> Predicción de eventos críticos o fallas o mantenimiento predictivo.
            </div class="botonRadio">
             
            <div class="botonRadio">
            <input type="checkbox" name="pregunta1" id="btn6" autocomplete="off"> Reducir el consumo de Utilities: agua, combustible, energia electrica, gas.
            </div>
            
            <div class="botonRadio">
            <input type="checkbox" name="pregunta1" id="btn7" autocomplete="off"> Tener trazabilidad del producto sobre todo el ciclo de producción (desde las materias primas hasta el cliente final).
            </div>
            
            <div class="botonRadio">
            <input type="checkbox" name="pregunta1" id="btn8" autocomplete="off"> Aumentar los niveles de seguridad y salud en el trabajo (Cero accidentes).
            </div>
        </div>
       
    </div>
    <div class="BotonSiguienteQuinta">   
        <center>
            <a name="siguiente5" id="siguiente5" class="btn2" href="/Sexta" role="button" style="text-decoration:none" onclick='guardar5()'>Siguiente</a>
        </center>
    </div>
</body>
</html>

<script language="JavaScript">

    function guardar5() {

        reto1 = "hola";
        yaUno = false;
        reto2 = "bola";

        if (document.getElementById("btn1").checked == true) {
            reto1 = "Mejorar grado de utilización (GU) : porcentaje del tiempo durante el cual trabaja realmente la máquina, estación.";
            yaUno = true;
        }
        if(document.getElementById("btn2").checked == true){
            if (yaUno == false) {
                reto1 = "Mejorar grado de rendimiento (GR): porcentaje de productos que se fabrican en el tiempo planificado.";
                yaUno = true;
            }else{
                reto2 = "Mejorar grado de rendimiento (GR): porcentaje de productos que se fabrican en el tiempo planificado.";
            }
        }
        if(document.getElementById("btn3").checked == true){
            if (yaUno == false) {
                reto1 = "Mejorar grado de calidad (GC): porcentaje de productos buenos con relación al total de productos fabricados.";
                yaUno = true;
            }else{
                reto2 = "Mejorar grado de calidad (GC): porcentaje de productos buenos con relación al total de productos fabricados.";
            }
        }
        if(document.getElementById("btn4").checked == true){
            if (yaUno == false) {
                reto1 = "Optimizar el uso del recuso humano, al eliminar tareas de poco valor (Ej.: digitalización de información.)";
                yaUno = true;
            }else{
                reto2 = "Optimizar el uso del recuso humano, al eliminar tareas de poco valor (Ej.: digitalización de información.)";
            }
        }
        if(document.getElementById("btn5").checked == true){
            if (yaUno == false) {
                reto1 = "Predicción de eventos críticos o fallas o mantenimiento predictivo.";
                yaUno = true;
            }else{
                reto2 = "Predicción de eventos críticos o fallas o mantenimiento predictivo.";
            }
        }
        if(document.getElementById("btn6").checked == true){
            if (yaUno == false) {
                reto1 = "Reducir el consumo de Utilities: agua, combustible, energia electrica, gas.";
                yaUno = true;
            }else{
                reto2 = "Reducir el consumo de Utilities: agua, combustible, energia electrica, gas.";
            }
        }
        if(document.getElementById("btn7").checked == true){
            if (yaUno == false) {
                reto1 = "Tener trazabilidad del producto sobre todo el ciclo de producción (desde las materias primas hasta el cliente final).";
                yaUno = true;
            }else{
                reto2 = "Tener trazabilidad del producto sobre todo el ciclo de producción (desde las materias primas hasta el cliente final).";
            }
        }
        if(document.getElementById("btn8").checked == true){
            if (yaUno == false) {
                reto1 = "Aumentar los niveles de seguridad y salud en el trabajo (Cero accidentes).";
                yaUno = true;
            }else{
                reto2 = "Aumentar los niveles de seguridad y salud en el trabajo (Cero accidentes).";
            }
        }

        sessionStorage.setItem('reto1', reto1);
        sessionStorage.setItem('reto2', reto2);

    }

</script>