<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static '/diseno.css' %}">
    <title>  4/19 </title>  
</head>
<body>
    <div id="divBarraProgreso">
        <center>
            <div class="text-xs-center" id="progressId"><strong>4 of 19</strong>
                <progress class="progress" rol="progressbar" value="4" max="19" aria-describedby="progressId">
                </progress> 
            </div>
        </center>
    </div>
    <div class="DivtituloPag3">
        <h1 class="tituloPag3">
            <strong>
                <center>
                    Datos generales de la empresa
                </center>
            </strong>
        </h1>
    </div>
    <div class="PreguntasQuinta" id="PreguntasQuinta">
        <center>
            <h1>¿Cuáles son sus 2 principales retos de negocio?</h1>
        </center>
        <div class="btn-group" data-bs-toggle="buttons">
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" class="me-2" name="" id="" autocomplete="off"> Mejorar grado de utilización (GU) : porcentaje del tiempo durante el cual trabaja realmente la máquina, estación.
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off"> Mejorar grado de rendimiento (GR): porcentaje de productos que se fabrican en el tiempo planificado.
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off"> Mejorar grado de calidad (GC): porcentaje de productos buenos con relación al total de productos fabricados.
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off">Optimizar el uso del recuso humano, al eliminar tareas de poco valor (Ej.: digitalización de información.
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off">Predicción de eventos críticos o fallas o mantenimiento predictivo.
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off">Reducir el consumo de Utilities: agua, combustible, energia electrica, gas.
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off">Tener trazabilidad del producto sobre todo el ciclo de producción (desde las materias primas hasta el cliente final).
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off">Aumentar los niveles de seguridad y salud en el trabajo (Cero accidentes).
                </label>
            </div>
        </div>
    </div>
    <div class="BotonSiguienteTercera">   
        <center>
            <a name="Siguiente" id="siguiente3" class="btn1" href="/Sexta" role="button">Siguiente</a>
        </center>
    </div>
</body>
</html>