<!DOCTYPE html>
<html lang="en">
<head>
   {%load static %}
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width", initial-scale="1.0">
   <link rel="stylesheet" href="{% static '/diseno.css' %}">
   <title>  
       Inicio1
   </title>
</head>

<body >
    <div class="FondoResultados"
    <h1 class="tituloResultados">
        <strong>
            <center>
                Resultados para {{ Compania }}
            </center>
        </strong>
    </h1>

   

    <div class="TextoIndicativo" style="margin-right: 450px;">
        
        <h6 align="left" style="font-size:20px;"> ¿Dónde estoy actualmente?</h6>
        <p align="left"> {{mensaje}}
            Su nivel actual de madurez de operaciones es:
        </p>

    
    </div>
    <h5  class ="tituloResultados" style="margin-left:200px;">
        <strong style="font-size: 40px;">
            {{Actual}}/4 
        </strong>
    </h5>
    <div class="TextoIndicativo" style="margin-right: 450px;">
        <p align="left"> De igual forma, el sector en el que se encuentra su empresa tiene
            un nivel promedio de Madurez Digital de Operaciones de:
        </p>

    </div>
<h5 class ="tituloResultados" style="margin-left:200px;">
        <strong style="font-size: 40px;">
            {{Sector}}/4 
        </strong>
    </h5>

    <div class="TextoIndicativo" style="margin-right: 450px;">
        
        <h6 align="left" style="font-size:20px;"> ¿Por qué seguir avanzando?</h6>
        <p align="left"> Según el diagnóstico realizado, si usted decide avanzar hacia convertirse en Lider Digital de Operaciones, su potencial beneficio económico
            es entre: </p>

    
    </div>
    <h5  class ="tituloResultados" style="margin-left:50px;" >
        <strong style="font-size: 40px;" >
            {{min}} y {{max}}
        </strong>
    </h5>

    <div class="TextoIndicativo" style="margin-right: 450px;">
        
        <h6 align="left" style="font-size:20px;"> Pasos a seguir</h6>
        <p align="left"> Para continuar su camino hacia convertirese en Lider Digital de Operaciones y enfrentar
            los retos urgentes de negocio, se debería implementar un proyecto del tipo:
         </p>
         <p align="left" style="color:#056CF2;"> Mejorar Eficiencia XXXX</p>
         <br/>

    
    </div>

    <div class="ImagenResult"> </div>
    <div class="TextoIndicativo" >
       
        <p align="center" style="color:#056CF2;"> Le hemos enviado el informe completo
        a su correo {{ Correo }} .</p>
        <p align="center" style="color:#056CF2;"> Le invitamos a conocer los casos de éxito de la 
            Trasnformación Digital de Operaciones de empresas similares a {{Compania}}
        </p>

    </div>
    <div style="padding: 10px; float: left; width: 45%; text-align: justify;">
        <div class="TextoIndicativo">
        <p>
            ibisa Group SAS
        </p>
        <p>
            Andrés Pinzón
        </p>
        <p>
            +573002419181
        </p>
        <p>
            andres.pinzon@ibisa.co
        </p>
     </div>
    </div>
    <div style="padding: 10px; float: right; width: 45%; text-align: justify;">
        <div class="TextoIndicativo">
            <p>
                Pontificia Universidad Javeriana
            </p>
            <p>
                Gabriel Mauricio Zambrano Rey
            </p>
            <p>
                +573016226375
            </p>
            <p>
                gzambrano@javeriana.edu.co
            </p>
         </div>
    </div>
    
</div>
</body>
