<!DOCTYPE html>
<html lang="en">
<head>
   {%load static %}
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width", initial-scale="1.0">
   <link rel="stylesheet" href="{% static '/diseno.css' %}">
   <title>  
       Inicio1
   </title>
</head>

<body class="FondoResultados">
    <h1 class="tituloResultados">
        <strong>
            <center>
                Resultados para {}
            </center>
        </strong>
    </h1>

   

    <div class="TextoIndicativo">
        
        <h6 align="left" style="font-size:20px;"> ¿Dónde estoy actualmente?</h6>
        <p align="left"> El nivel de Madurez igital de Operaciones de Colchones S.A es:</p>

    
    </div>
    <h5  class ="tituloResultados" style="margin-left:200px;">
        <strong style="font-size: 40px;">
            2,2/4 
        </strong>
    </h5>
    <div class="TextoIndicativo">
        <p align="left"> El nivel promedio en el sector e Colchones S.A es</p>

    </div>
<h5 class ="tituloResultados" style="margin-left:200px;">
        <strong style="font-size: 40px;">
            3/4 
        </strong>
    </h5>


</body>
