<!DOCTYPE html>
<html lang="en">
    <style>
        @page{
            size: a4 landscape;
        }
        </style>


<head>
   {%load static %}
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width", initial-scale="1.0">
   <link rel="stylesheet" href="{% static '/diseno.css' %}">
   <title>  
       Inicio1
   </title>
</head>

<body >
    <div class="FondoResultados">
    <h1 class="tituloResultados1" style="margin-left:100px; margin-right: 100px;">
        <strong>
            <center>
                Resultados para {{ Compania }}
            </center>
        </strong>
    </h1>

    <div class="TextoIndicativo" style="margin-right: 10px; margin-left:10px;">
        
        <h6 align="center" style="font-size:20px; margin-left: 20%; margin-right: 20%;"> ¿Dónde estoy actualmente?</h6>
        <p align="center" style="margin-left: 18%; margin-right: 18%  ;"> {{mensaje}}
            Su nivel actual de madurez de operaciones es:
        </p>

    
    </div>
    <h5  class ="tituloResultados" style="text-align: center;">
        <strong style="font-size: 40px;">


            {{Actual}}/4 {{NivelActual}}

        </strong>
    </h5>
    <div class="TextoIndicativo" style="margin-right: 10px; margin-left: 10px;">
        <p align="center" style="margin-left: 18%; margin-right: 18%;"> De igual forma, el sector en el que se encuentra su empresa tiene
            un nivel promedio de Madurez Digital de Operaciones de:
        </p>

    </div>
<h5 class ="tituloResultados" style="text-align: center;">
        <strong style="font-size: 40px;">
            {{Sector}}/4 
        </strong>
    </h5>

    <div class="TextoIndicativo" style="margin-right: 10px;margin-left:10px;">
        <br/>
        <h6 align="center" style="font-size:20px;margin-left: 10px"> ¿Por qué seguir avanzando?</h6>
        <p align="center" style="margin-left: 18%; margin-right: 18%;"> Según el diagnóstico realizado, si usted decide avanzar hacia convertirse en Lider Digital de Operaciones, su potencial beneficio económico
            es entre: 
        </p>

    
    </div>
    <div>
    <h5  class ="tituloResultados" style="text-align: center;" >
        <strong style="font-size: 30px;" >
            <br/>
            {{min}} y {{max}}
        </strong>
    </h5>
</div>

    <div class="TextoIndicativo" style="margin-right: 10px; margin-left:10px; margin-top:50px;">
        <br/>
        <h6 align="center" style="font-size:20px;"> ¿Cómo avanzar en la Transformación Digital de Operaciones? </h6>
        <p align="center" style="margin-left: 80px; margin-right:80px  ;"> Para continuar su camino hacia convertirese en Lider Digital de Operaciones y enfrentar
            los retos urgentes de negocio, se deberían implementar los proyectos:
        </p>
    </div>
    <div class="TextoIndicativo" style="margin-right: 10px;margin-left:10px; margin-top:100px;">
        <p align="center" style="color:#056CF2;margin-left: 90px; margin-right: 90px;"> {{proyecto1}}</p>
        <p align="center" style="color:#056CF2;"> {{proyecto2}}</p>
        <br/>
    

     <table align="center">
        <caption> Proyecto 1</caption>
        
        <tr>
            <th> Nombre</th>
            <td> VARIABLE NOMBRE </td>
        </tr>
        <tr>
            <th> Beneficio </th>
            <td> VARIABLE BENEFICIO </td>
        </tr>
     <tr>
        <th> Duración de proyecto</th>
        <td> {{minDuracion}}-{{maxDuracion}} Meses</td>

     </tr>
     <tr>
        <th> Inversión</th>
        <td> VARIABLE INVERSIÓN </td>
     </tr>
     <tr>
        <th> Amortización</th>
        <td> {{minAmortizacion}} - {{maxAmortizacion}} meses </td>
     </tr>
  </table>
  <br/>
  
     <table align="center">
        <caption> Proyecto 2</caption>
        
        <tr>
            <th> Nombre</th>
            <td> VARIABLE NOMBRE </td>
        </tr>
        <tr>
            <th> Beneficio </th>
            <td> VARIABLE BENEFICIO </td>
        </tr>
     <tr>
        <th> Duración de proyecto</th>
        <td> {{minDuracion}}-{{maxDuracion}} Meses</td>

     </tr>
     <tr>
        <th> Inversión</th>
        <td> VARIABLE INVERSIÓN </td>
     </tr>
     <tr>
        <th> Amortización</th>
        <td> {{minAmortizacion}} - {{maxAmortizacion}} meses </td>
     </tr>
  
     </table>
    </div>
   

    <div class="TextoIndicativo" >
        <h6 align="center" style="font-size:20px; margin-top: 50px;"> Nos ponemos a su disposición</h6>
     
        <div class="LogosResultados"></div>

        <p align="center"> Le hemos enviado el informe completo a su correo </p>
        <i style="margin-right:-10px ; margin-left: -10px;">{{ Correo }} .</i>
        <p align="center"> Le invitamos a conocer los casos de éxito de la 
            Trasnformación Digital de Operaciones de empresas similares a {{Compania}}.
        </p>

    </div>
   
    <br/>
</div>
</body>
