<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static '/diseno.css' %}">
    <title>  3/16 </title>  
</head>
<body>

    
    <div id="divBarraProgreso" background-image="Madurez4/Madurez40/Templates/paginas/Imagenes/Rectangle.png">
        <center>
            <div class="text-xs-center" id="progressId"><strong>1 of 19</strong>
            <progress class="progress3" id = "progressbar" rol="progressbar" value="0" max="19" aria-describedby="progressId">
            </progress> 
            </div>
        </center>
        &nbsp
        &nbsp
        &nbsp
        &nbsp

    </div>
    
        <p style="font: size 20%; font-family: inter;"> 
            La siguiente encuesta contiene 16 preguntas de selección multiple las cuales están divididas en 3 pasos:
        </p>
        <p>a) Datos generales de su empresa.</p>
        <p>
            b) Diagnostico (3 Dimensiones y 10 preguntas) para conocer su madurez digital actual.
        </p>
        <p>
            c) Información especifica de la empresa para estimar sus  potenciales beneficios.
        </p>
  

    <div class="BotonSiguienteTercera">   
        <center>
            <a name="Siguiente" id="siguiente3" class="btn1" href="#" role="button">Siguiente</a>
        </center>
    </div>
    
</body>