<!DOCTYPE html>
<html lang="en">
 <head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static '/diseno.css' %}">
    <title>  1/19 </title>  
 </head>


<body>
   <div id="divBarraProgreso" class="w3-container">
     <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            
                      <div class="FondoSegunda">    
                    </div>
              
            

            <div class="TextoIndicativo">
              <center>
            <p align="left"> 
                La siguiente encuesta contiene 16 preguntas de selección multiple las cuales están divididas en 3 pasos:
            </p>
            <p align="left">
                1. Datos generales de su empresa.</p>
            <p align="left">
                2. Diagnostico (3 Dimensiones y 10 preguntas) para conocer su madurez digital actual.
            </p>
            <p align="left">
                3. Información especifica de la empresa para estimar sus  potenciales beneficios.
            </p>
        </center>
            </div>
            
     
    
      
            
            <div class="BotonSiguienteTercera">   
            
        <center>
            <a name="Siguiente" id="siguiente3" class="btn2" href="/Tercera" role="button">Comenzar</a>
        </center>
       </div> 
      
       <div class="UltimaImg">
      </div>
    </div>
</body>