<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static '/diseno.css' %}">
    <title>  6/19 </title>  
</head>
<body>
    <div id="divBarraProgreso" class="w3-container">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            
           <div class="w3-section w3-light-grey">
              <div class="w3-container w3-padding w3-deep-orange w3-deep-orange w3-center" style="width:20%">50%</div>
            </div>
    </div>
    <div class="DivtituloPag7">
        <h1 class="tituloPag7">
            <strong>
                <center>
                    Dimensión 1: Estrategia y organización
                </center>
            </strong>
        </h1>
    </div>

    
    <div class="Pregunta1Septima" id="PreguntasSeptima">
        <ol >
            
                <center align="left">
                    <h3 class="Pregunta1Septima">1. Existe una hoja de ruta digital, con proyectos presupuestados y responsables asignados al nivel de la alta dirección.</h3>
                </center>
                
                <div class="btn-group" data-bs-toggle="buttons">
                 
                    <label>
                        <input type="radio"  name="Dim1P1" class="orangeuno" id="Dimesion1P1O1"/>

                         <span style="color:#FF715A">1</span>
                           <span class="Textobults" >
                            <ul style="margin-left:60px; margin-top: -60px">
                               <li> No hay estrategia digital, solo iniciativas aisladas.</li>
                            </ul>
                             
                       </span>
                    </label>
                    <br/>
                    <br/>
                    <br/>
                    <label>

                        <input type="radio"  name="Dim1P1" class="orangeuno" id="Dimension1P1O2"/> 
                        <span style="color:#FF715A;"> 2</span> 
                        <span class="Textobults" >
                            <ul style="margin-left:60px; margin-top: -60px">
                                <li>Hay estrategia digital, pero sin avances significativos en ejecución.</span> </li>
                            </ul>
                            
                    </label>
                    <br/>
                    <br/>
                    <br/>
                        <Label>

                            <input type="radio"  name="Dim1P1" class="orangeuno" id="Dimesion1P1O3"/> 
                            <span style="color:#FF715A" > 3 </span> 
                            <span class=" Textobults">
                                <ul style="margin-left:60px; margin-top: -60px">
                                    <li>Se han realizado más de dos proyectos de transformación digitales (TD) en procesos productivos. </li>
                                </ul>
                                
                            </span>
                        </Label>
                        <br/>
                        <br/>
                        <br/>
                    <label>
                        

                        <input type="radio"  name="Dim1P1" class="orangeuno" id="Dimesion1P1O4"/> 

                        <span style="color:#FF715A"> 4</span>
                        <span class="Textobults" style="margin-left: -10px">
                            <ul style="margin-left:60px; margin-top: -60px">
                                <li >La empresa tiene Roadmap en ejecución.</li>
                                <li>Se han terminado más de dos proyectos de transformación digitales (TD).</li>
                                <li>Hay compromiso con la hoja de ruta digital.</li>
                                <li>Dentro de la alta dirección hay un responsable para transformaciones digitales (TD).</li>
                            </ul>
                        </span>
                    </label>
                    <br/>
                  
                </div>
        
            
                <center align="left">
                    <h2 class="Pregunta1Septima"> 2. Nuestros empleados entienden y participan sistemáticamente en la divulgación de la estrategía digital y sus avances.</h2>
                </center>
                <div class="btn-group" data-bs-toggle="buttons">
                    <br/>
                    <label>
                        <input type="radio"  name="Dim1P2" class="orangedos" id="Dimesion1P2O1"/> 

                        <span style="color:#FF715A">1</span>
                        <span class=" Textobults">
                        <ul style="margin-left:60px; margin-top: -60px">
                            <li>No hay estrategia digital o no se ha comunicado a empleados.</li></ul>
                        </span>
                        </label>
                        <br/>
                        <br/>
                        <br/>
                        <br/>

                     <label>
                         <input type="radio"  name="Dim1P2" class="orangedos" id="Dimesion1P2O1"/> 
                         <span style="color:#FF715A">2</span>
                         <span class=" Textobults">
                            <ul style="margin-left:60px; margin-top: -60px">
                                <li> Hay estrategia digital, pocos empleados (operativos) la conocen. </li>
                                <li>No se reciben actualizaciones sistemáticos sobre la ejecución.</li>
                            </ul>
                            </span>
                        </label>
                        <br/>
                        <br/>
                        <br/>
                  
                     <label>
                         <input type="radio"  name="Dim1P2" class="orangedos" id="Dimesion1P2O1"/>
                         <span style="color:#FF715A">3</span>
                         <span class=" Textobults" >
                            <ul style="margin-left:60px; margin-top: -60px">
                                <li>Se informa frecuente sobre avances de la estrategia digital en diferentes canales.</li>
                                <li> Gran parte de los empleados (operativos) entiende el impacto de la digitalización para ellos. </li>
                            </ul>
                         </span>
                     </label>
                     <br/>
                     <br/>
                     <br/>
                    <label>
                        <input type="radio"  name="Dim1P2" class="orangedos" id="Dimesion1P2O1"/>
                        <span style=color:#FF715A>4</span>
                        <span class=" Textobults">
                            <ul style="margin-left:60px; margin-top: -60px">
                                <li>La estrategia digital domina todas los proyectos de la empresa.</li>
                                <li> Cada empleado entiende el impacto de la estrategia digital para su trabajo.</li>
                                <li> Existe un plan de desarrollo de capacidades digitales para todas las personas.</li>
                            </ul>
                        </span>
                    </label>
                    <br/>
                </div>
            </li>
        </ol>
    </div>
    <div class="BotonSiguienteTercera">   
        <center>
            <a name="Siguiente" id="siguiente3" class="btn2" href="/Octava" role="button" style="text-decoration:none" onclick='guardar7()'>Siguiente</a>
        </center>
    </div>
</body>
</html>

<script language="JavaScript">
    function guardar7(){
        Dimension1R1 ="";
        Dimension1R2 ="";
        if (document.getElementById("Dimesion1P1O1").checked) {
            Dimension1R1 = 1;
        }else if(document.getElementById("Dimesion1P1O2").checked){
            Dimension1R1 = 2;
        }else if(document.getElementById("Dimesion1P1O3").checked){
            Dimension1R1 = 3;
        }else {
            Dimension1R1 = 4;
        }
        if (document.getElementById("Dimesion1P2O1").checked) {
            Dimension1R2 = 1;
        }else if(document.getElementById("Dimesion1P2O2").checked){
            Dimension1R2 = 2;
        }else if(document.getElementById("Dimension1P2O3").checked){
            Dimension1R2 = 3;
        }else {
            Dimension1R2 = 4;
        }
        sessionStorage.setItem('Dimension1R1',Dimension1R1);
        sessionStorage.setItem('Dimension1R2',Dimension1R2);
    }
</script>