<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static '/diseno.css' %}">
    <title>  6/19 </title>  
</head>
<body>
    <div id="divBarraProgreso" background-image="">
        <center>
            <div class="text-xs-center" id="progressId"><strong>5 of 19</strong>
                <progress class="progress" rol="progressbar" value="5" max="19" aria-describedby="progressId">
                </progress> 
            </div>
        </center>
    </div>
    <div class="DivtituloPag7">
        <h1 class="tituloPag7">
            <strong>
                <center>
                    Dimensión 1: Estrategia y organización
                </center>
            </strong>
        </h1>
    </div>
    <div class="PreguntasSeptima" id="PreguntasSeptima">
        <ol >
            
                <center align="left">
                    <h1 class="Pregunta1Septima">Existe una hoja de ruta digital, con proyectos presupuestados y responsables asignados al nivel de la alta dirección.</h1>
                </center>
                <div class="btn-group" data-bs-toggle="buttons">
                    <label>
                        <input type="radio"  name="options"/>>
                         <span> 1 </span>
                            <li>No hay estrategia digital, solo iniciativas aisladas.</li>
                       
                    </label>
                    <br/>
                    <div class="botonRadio">
                        <input type="checkbox" name="" id="" autocomplete="off"> <ul><li>Hay estrategia digital, pero sin avances significativos en ejecución.</li></ul>
                    </div>
                    <div class="botonRadio">
                        <input type="checkbox" name="" id="" autocomplete="off">
                            <ul>
                                <li>Se han realizado mas de dos proyectos de transformación digitales (TD) en procesos productivos.</li>
                            </ul>
                    </div>
                    <div class="botonRadio">
                        <input type="checkbox" name="" id="" autocomplete="off">
                            <ul>
                                <li>La empresa tiene Roadmap en ejecución.</li>
                                <li>Se han terminado más de dos proyectos de transformación digitales (TD).</li>
                                <li>Hay compromiso con la hoja de ruta digital.</li>
                                <li>Dentro de la alta dirección hay un responsable para transformación digitales (TD).</li>
                            </ul>
                    </div>
                </div>
        
            <li>
                <center align="left">
                    <h1 class="Pregunta1Septima"> Nuestros empleados entienden y participan sistemáticamente en la divulgación de la estrategía digital y sus avances.</h1>
                </center>
                <div class="btn-group" data-bs-toggle="buttons">
                    <div class="botonRadio">
                        <input type="checkbox" class="me-2" name="" id="" autocomplete="off"> <ul><li>No hay estrategia digital o no se ha comunicado a empleados.</li></ul>
                    </div>
                    <div class="botonRadio">
                        <input type="checkbox" name="" id="" autocomplete="off"> 
                            <ul>
                                <li> Hay estrategia digital, pocos empleados (operativos) la conocen. </li>
                                <li>No se reciben actualizaciones sistemáticos sobre la ejecución.</li>
                            </ul>
                    </div>
                    <div class="botonRadio">
                        <input type="checkbox" name="" id="" autocomplete="off">
                            <ul>
                                <li>Se informa frecuente sobre avances de la estrategia digital en diferentes canales.</li>
                                <li> Gran parte de los empleados (operativos) entiende el impacto de la digitalización para ellos. </li>
                            </ul>
                    </div>
                    <div class="botonRadio">
                        <input type="checkbox" name="" id="" autocomplete="off">
                            <ul>
                                <li>La estrategia digital domina todas los proyectos de la empresa.</li>
                                <li> Cada empleado entiende el impacto de la estrategia digital para su trabajo.</li>
                                <li> Existe un plan de desarrollo de capacidades digitales para todas las personas.</li>
                            </ul>
                    </div>
                </div>
            </li>
        </ol>
    </div>
    <div class="BotonSiguienteTercera">   
        <center>
            <a name="Siguiente" id="siguiente3" class="btn2" href="/Octava" role="button" style="text-decoration:none">Siguiente</a>
        </center>
    </div>
</body>
</html>