<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static '/diseno.css' %}">
    <title>  3/16 </title>  
</head>
<body>
    <div id="divBarraProgreso" background-image="">
        <center>
            <div class="text-xs-center" id="progressId"><strong>6 of 19</strong>
                <progress class="progress" rol="progressbar" value="6" max="19" aria-describedby="progressId">
                </progress> 
            </div>
        </center>
    </div>
    <div class="DivtituloPag7">
        <h1 class="tituloPag7">
            <strong>
                <center>
                    Dimensión 1: Estrategia y organización
                </center>
            </strong>
        </h1>
    </div>
    <div class="PreguntasSeptima" id="PreguntasSeptima">
        <center align="left">
            <h1 class="Pregunta1Septima">1.Existe una hoja de ruta digital, con proyectos presupuestados y responsables asignados al nivel de la alta dirección.</h1>
        </center>
        <div class="btn-group" data-bs-toggle="buttons">
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" class="me-2" name="" id="" autocomplete="off"> No hay estrategia digital, solo iniciativas aisladas.
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off"> Hay estrategia digital, pero sin avances significativos en ejecución.
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off">Se han realizado mas de dos proyectos de transformación digitales (TD) en procesos productivos.
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off">La empresa tiene Roadmap en ejecución. Se han terminado más de dos proyectos de transformación digitales (TD). Hay compromiso con la hoja de ruta digital. Dentro de la alta dirección hay un responsable para transformación digitales (TD).
                    
                </label>
            </div>
        </div>
        <center align="left">
            <h1 class="Pregunta1Septima">2.  Nuestros empleados entienden y participan sistemáticamente en la divulgación de la estrategía digital y sus avances.</h1>
        </center>
        <div class="btn-group" data-bs-toggle="buttons">
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" class="me-2" name="" id="" autocomplete="off"> No hay estrategia digital o no se ha comunicado a empleados.
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off"> Hay estrategia digital, pocos empleados (operativos) la conocen. No se reciben actualizaciones sistemáticos sobre la ejecución.
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off">Se informa frecuente sobre avances de la estrategia digital en diferentes canales. Gran parte de los empleados (operativos) entiende el impacto de la digitalización para ellos.
                    
                </label>
            </div>
            <div class="botonRadio">
                <label class="boton">
                    <input type="radio" name="" id="" autocomplete="off">La estrategia digital domina todas los proyectos de la empresa. Cada empleado entiende el impacto de la estrategia digital para su trabajo. Existe un plan de desarrollo de capacidades digitales para todas las personas.
                    
                </label>
            </div>
        </div>
    </div>
    <div class="BotonSiguienteTercera">   
        <center>
            <a name="Siguiente" id="siguiente3" class="btn1" href="#" role="button">Siguiente</a>
        </center>
    </div>
</body>
</html>