<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static '/diseno.css' %}">
    <title>  3/16 </title>  
</head>

<body>
    <div id="divBarraProgreso">
        <center>
            <div class="text-xs-center" id="progressId"><strong>5 of 19</strong>
            <progress class="progress3" id = "progressbar" rol="progressbar" value="5" max="19" aria-describedby="progressId">
            </progress> 
            </div>
        </center>
    </div>
    <div class="DivtituloPag3">
        <h1 class="tituloPag3">
            <strong>
                <center>
                    Paso 2 Diagnóstico
                </center>
            </strong>
        </h1>
    </div>
    <div class="DivtituloPag3">
        <h1 class="tituloPag3">
            <strong>
                <center>
                    (3 Dimensiones y 10 Preguntas)
                </center>
            </strong>
        </h1>
    </div>
    <div>
        <p class="TextoIndicativo">
            <center>
                A continuación inician las preguntas acerca de las herramientas de Industria 4.0 presentes actualmente en la compañia con el fin de conocer su madurez digital actual. 
            </center>
        </p>
    </div>
    <div>
        <p class="TextoIndicativo">
            <center>
                Por favor evaluar desde 1 (iniciado su Transformación Digital de Operaciones) hasta 4(Líder Digital).
                Favor usar el detalle adicional para identificar su nivel. 
            </center>
        </p>
    </div>
    <div class="BotonSiguienteTercera">   
        <center>
            <a name="Siguiente" id="siguiente3" class="btn1" href="#" role="button">Siguiente</a>
        </center>
    </div>
</body>