<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static '/diseno.css' %}">
    <title>  2/19 </title>  
</head>
<body>
    <div id="divBarraProgreso">
        <center>
            <div class="text-xs-center" id="progressId"><strong>2 of 19</strong>
                <progress class="progress" rol="progressbar" value="2" max="19" aria-describedby="progressId">
                </progress> 
            </div>
        </center>
    </div>
    <div class="DivtituloPag3">
        <h1 class="tituloPag3">
            <strong>
                <center>
                    Datos generales de la empresa
                </center>
            </strong>
        </h1>
    </div>
    <div class="PreguntasTercera">
        <div class="P1">
            <center>
                <label for="" class="form-label"></label>
                <input type="text" class="InputTercera" name="Nombre de la empresa" id="" aria-describedby="NombreCompleto" placeholder="Nombre Completo">
            </center>
        </div>
        <center>
        <div class="TextoP31" id="TextoP31">
            <center>
                <p align="left">
                    Seleccione la industria a la que pertenece su empresa:
                </p>
            </center>
        </div>
        </center>
        <div class="P2">
            <center>
                <select id="TiposDeIndustria" class="TiposDeIndustria">
                    <option hidden selected > Industria </option>
                    <option value="Alimentación, bebida o productos agroindustriales">Alimentación, bebida o productos agroindustriales</option>
                    <option value="Textil, Confección">Textil, Confección</option>
                    <option value="Industria farmaceutica (laboratorios), Cosmetica">Industria farmaceutica (laboratorios), Cosmetica</option>
                    <option value="Consumer products">Consumer products</option>
                </select>
            </center>
        </div>
        <center>
            <div class="TextoP32" id="TextoP32">
                <center>
                    <p align="left">
                        Seleccione el tamaño de su empresa:
                    </p>
                </center>
            </div>
            </center>
        <div class="P3">
            <center>
                <select id="tamano" class="tamano">
                    <option hidden selected > Tamaño de su empresa </option>
                    <option value="Pequeña (Hasta 10.000 MCOP">Pequeña (Hasta 10.000 MCOP)</option>
                    <option value="Mediana (Desde 10.000 MCOP hasta 100.000 MCOP)">Mediana (Desde 10.000 MCOP hasta 100.000 MCOP)</option>
                    <option valie="Grande (Más de 100.000 MCOP)">Grande (Más de 100.000 MCOP)</option>
                </select>
            </center>
        </div>  
    </div>
    <div class="BotonSiguienteTercera">   
        <center>
            <a name="Siguiente" id="siguiente3" class="btn1" href="/Cuarta" role="button" style="text-decoration:none">Siguiente</a>
        </center>
    </div>
</body>
</html>