<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static '/diseno.css' %}">
    <title>  12/19 </title>  
</head>
<body>
    <div id="divBarraProgreso">
        <center>
            <div class="text-xs-center" id="progressId"><strong>12 of 19</strong>
                <progress class="progress" rol="progressbar" value="12" max="19" aria-describedby="progressId">
                </progress> 
            </div>
        </center>
    </div>
    <div class="DivtituloPag3">
        <h1 class="tituloPag3">
            <strong>
                <center>
                    Paso 3: Información para estimar sus  potenciales beneficios.
                </center>
            </strong>
        </h1>
    </div>
    <div class="PreguntasTercera">
        <center>
            <div class="TextoP31" id="TextoP31">
                <center>
                    <p align="left">
                        Seleccione el nivel de ingresos del año fiscal pasado en la compañía:
                    </p>
                </center>
            </div>
        </center>
        <div class="P2">
            <center>
                <select id="TiposDeIndustria" class="TiposDeIndustria" >
                    <option value="2000000000">2.000.000.000 COP</option>
                    <option value="0"> Menos de 2.000.000.000 COP</option>
                    <option value="3000000000">Más de 2.000.000.000 COP</option>
                </select>
            </center>
        </div>
        <center>
            <div class="TextoP31" id="TextoP31">
                <center>
                    <p align="left">
                        ¿Cuál es el costo directo de producción como % de los ingresos ?
                    </p>
                </center>
            </div>
        </center>
        <div class="P2">
            <center>
                <select id="TiposDeIndustria" class="TiposDeIndustria" >
                    <option value="20%">Menos de 20%</option>
                    <option value="40%">Entre 20%-40%</option>
                    <option value="60%">Entre 40%-60%</option>
                    <option value="80%">Entre 60%-80%</option>
                    <option value="100%">Más de 80%</option>
                </select>
            </center>
        </div>
        <center>
            <div class="TextoP32" id="TextoP32">
                <center>
                    <p align="left">
                        Desglose el costo directo de producción de su compañia. 
                    </p>
                </center>
            </div>
        </center>
        <center>
            <div class="P3">
                <center>
                    <select id="CostoDirecto" class="CostoDirecto">
                        <option value="10%">Menos de 10%</option>
                        <option value="30%">Entre 10%-30%</option>
                        <option valie="Otro" selected>Otro</option>
                    </select>
                    <input type="text" id="OtroCostoDirecto" class="OtroCostoDirecto" placeholder="Otro valor">
                </center>
            </div>  
        </center>
        <center>
            <div class="TextoP32" id="TextoP32">
                <center>
                    <p align="left">
                        Cual es el valor de su inventario como % de los ingresos?  (Inventario = Materia Prima + Producto en proceso + Producto Terminado al 31.12 del año pasado.)  
                    </p>
                </center>
            </div>
        </center>
        <center>
            <div class="P3">
                <center>
                    <select id="TiposDeIndustria" class="TiposDeIndustria">
                        <option value="10%">Menos del 10%</option>
                        <option value="30%">Entre 11%-30%</option>
                        <option value="40%">Entre 31%-40%</option>
                        <option value="50%">Entre 41%-50%</option>
                        <option valie="100%" selected>Más del 50%</option>
                    </select>
                </center>
            </div>  
        </center>
    </div>
    <div class="BotonSiguienteTercera">   
        <center>
            <a name="Siguiente" id="siguiente3" class="btn1" href="/Cuarta" role="button">Siguiente</a>
        </center>
    </div>
</body>
</html>

<script language="JavaScript">
    document.getElementById("CostoDirecto").onchange = function() {
        if (this.value == "Otro") {
            document.getElementById("OtroCostoDirecto").hidden = false;
        } else {
            document.getElementById("OtroCostoDirecto").hidden = true;
        }
    }
</script>

