<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static '/diseno.css' %}">
    <title>  12/19 </title>  
</head>
<body>
    <div id="divBarraProgreso" class="w3-container" style="background-image: url('https://lh3.google.com/u/2/d/1C-RRGgiPJsRpEUH8iQl48Xpx6kVTSKR3=w1439-h820-iv1');">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            
           <div class="w3-section w3-light-grey">
              <div class="w3-container w3-padding w3-deep-orange w3-deep-orange w3-center" style="width:100%">100%</div>
            </div>
    

        <h1 class="tituloPag3">
            <strong>
                <center>
                    Paso 3: Información para estimar sus  potenciales beneficios.
                </center>
            </strong>
        </h1>
    </div>
    
    <div class="PreguntasTercera">
        <center>
            <div class="TextoP31" id="TextoP31">
                <center>
                    <p align="left">
                        Seleccione el nivel de ingresos del año fiscal pasado en la compañía:
                    </p>
                </center>
            </div>
        </center>
        <div class="P2">
            <center>
                <select id="NiveldeIngreso" class="TiposDeIndustria" >
                    <option value="2000000000">2.000.000.000 COP</option>
                    <option value={{Ingreso}}> Menos de 2.000.000.000 COP</option>
                    <option value="3000000000">Más de 2.000.000.000 COP</option>
                    <option value={{Ingreso}}>Valor promedio de la industria: {{IngresoParaMostrar}}</option>
                </select>
            </center>
        </div>
        <center>
            <div class="TextoP31" id="TextoP31">
                <center>
                    <p align="left">
                        ¿Cuál es el costo directo de producción como % de los ingresos ?
                    </p>
                </center>
            </div>
        </center>
        <div class="P2">
            <center>
                <select id="CostoDComoPorcentaje" class="TiposDeIndustria" >
                    <option value="20">Menos de 20%</option>
                    <option value="40">Entre 20%-40%</option>
                    <option value="60">Entre 40%-60%</option>
                    <option value="80">Entre 60%-80%</option>
                    <option value="100">Más de 80%</option>
                    <option value={{CostoDComoPorcentaje}} select>Valor promedio de la industria: {{CostoDComoPorcentaje}}%</option>
                </select>
            </center>
        </div>
        <center>
            <div class="TextoP32" id="TextoP32">
                <center>
                    <p align="left">
                        Desglose el costo directo de producción de su compañia. 
                    </p>
                </center>
            </div>
        </center>
        <center>
            <div class="OtroD">
                <center>
                    <select id="CostoDirecto" class="CostoDirecto">
                        <option value="10">Menos de 10%</option>
                        <option value="30">Entre 10%-30%</option>
                        <option value="Otro" >Otro</option>
                        <option value={{CostoDirecto}} selected>Valor promedio de la industria: {{CostoDirecto}}%</option>
                    </select>
                    <br>
                    <div class="OtroO">
                        <input type="text" id="OtroCostoDirecto" class="OtroCostoDirecto" placeholder="Otro valor">
                    </div>
                </center>
            </div>  
        </center>
        <center>
            <div class="TextoP32" id="TextoP32">
                <center>
                    <p align="left">
                        Cual es el valor de su inventario como % de los ingresos?  (Inventario = Materia Prima + Producto en proceso + Producto Terminado al 31.12 del año pasado.)  
                    </p>
                </center>
            </div>
        </center>
        <center>
            <div class="P3">
                <center>
                    <select id="ValordeInv" class="TiposDeIndustria">
                        <option value="10">Menos del 10%</option>
                        <option value="30">Entre 11%-30%</option>
                        <option value="40">Entre 31%-40%</option>
                        <option value="50">Entre 41%-50%</option>
                        <option value="100">Más del 50%</option>
                        <option value={{ValordeInv}} selected>Valor promedio de la industria: {{ValordeInv}}%</option>
                    </select>
                </center>
            </div>  
        </center>
    </div>
    <div class="BotonSiguienteTercera">   
        <center>
            <a name="Siguiente" id="siguiente3" class="btn2" href="/Catorce" role="button" style="text-decoration:none" onclick='guardar13()'>Siguiente</a>
        </center>
    </div>
</body>
</html>

<script language="JavaScript">
    document.getElementById("CostoDirecto").onchange = function() {
        if (this.value == "Otro") {
            document.getElementById("OtroCostoDirecto").hidden = false;
        } else {
            document.getElementById("OtroCostoDirecto").hidden = true;
        }
    }

    function guardar13(){
        NiveldeIngreso = document.getElementById("NiveldeIngreso").value;
        CostoDComoPorcentaje = document.getElementById("CostoDComoPorcentaje").value;
        valorInv = document.getElementById("ValordeInv").value;

        if (document.getElementById("CostoDirecto").value == "Otro") {
            CostoDirecto = document.getElementById("OtroCostoDirecto").value;
        } else {
            CostoDirecto = document.getElementById("CostoDirecto").value;
        }

        sessionStorage.setItem('NiveldeIngreso', NiveldeIngreso);
        sessionStorage.setItem('CostoDComoPorcentaje', CostoDComoPorcentaje/100);
        sessionStorage.setItem('CostoDirecto', CostoDirecto/100);
        sessionStorage.setItem('valorInv', valorInv/100);
    }
</script>

