

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;800&display=swap');


.progress3{
    color: white !important;
    appearance: none;
    -webkit-appearance: none;
}
.progress3::-webkit-progress-bar {
    background: white !important;
    box-sizing: border-box;

}
.progress3::-webkit-progress-value {
    background-color: #FF715A !important;
}
.animated-progress{

    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin: 20px 10px;
    margin-top: 10px;
    border: 1px solid rgb(189, 113, 113);
    overflow: hidden;
    position: relative;
}
  
  .animated-progress span {
    height: 100%;
    display: block;
    width: 0;
    color: rgb(255, 251, 251);
    line-height: 30px;
    position: absolute;
    text-align: end;
    padding-right: 5px;
}
  
.progress-red span {
    background-color: red;
}

.ImagendeMarca{
    height: 600px;
    background-image: url("https://lh3.googleusercontent.com/drive-viewer/AJc5JmTewlJ8BJLAnU604vGuWNKThQP7V4TgTA5N9CEQO9gb3RdgvTW5LX0T2KuhuSKH3MpvOAdrr1s=w1439-h820");
    background-size: cover;
    background-repeat: no-repeat;
}
.TextoDiagnostico{
    
    text-align: right !important;
    
    font-family: 'Inter', sans-serif;
    font-size: 40px;
}
.imgIbisa{
    width: 20%;
    height: 35%;
    text-align: center;
}
.imgJaveriana{
    width: 20%;
    height: auto;
    text-align: center;
}
.imgColombia{
    width: 57px;
    height: 37px;   
    border-radius: 5px;
}
.divTitulo{
    background-size: cover;
    width: 100% !important;
}
.DivtituloPag3{
    width: 150% !important;
}

.Bienvenido{
    font-family: 'Inter', sans-serif;
    font-size: 40px !important;
    color: black;
    text-align: center;
}

.divTextobienvenido{
   
    font-family: 'Inter', sans-serif;
    width: 100% !important;
    font-size: 20px;
    color: black;
    text-align: center;
}

.TextoB{
    
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 0% 10% !important;
}

.TextoB2{
    
    font-family: 'Inter', sans-serif;
    font-size:30px;
    color:black;
    text-align: center;
    padding: 5% 10% !important;
}
.BotonSiguiente{
    padding: 10% 30% !important;
    font-size: 20px;

}
.BotonSiguienteTercera{
    padding: 10% 30% !important;
    font-size: 30px;
    right: 20px;
}
.BotonSiguienteQuinta{
    padding: 20% 50% !important;
    font-size: 50px;
}
.btn-group input, .btn-group label{
    display: inline-block;
    border-bottom-color: #FF715A;
   
}
.btn1{
    font-family: 'Inter';
    font-size: 15px;
    color: white;
    background-color: #056CF2;
    text-align: center;
    border-radius: 28px;
    border: 30px solid #056CF2;
    border-width: 20px;
}

.UltimaImg{
   position: relative;
   height: 60vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-image: url("https://lh3.googleusercontent.com/drive-viewer/AJc5JmRWOh6lbivsr-OpzaYaw6b87b_NuslBvODvi5W-FKBIksf_X0qNRSmvvM67F5MObyx88_el6WY=w1008-h795");
   
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
.UltimaImg::after{
    content: "";
    padding-top: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.878);

}


.Imagen{
    width: 100% !important;
    height: 100% !important;
}

.tituloPag3{
    color: #FF715A;
    font-family: "Inter";
    font-size: 200% !important;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.DivTextoTercera{
    padding-top: 20px;
}

.P1{
    color: black;
    padding-top:10% !important;
}

.InputTercera{
    border: 2px solid #FF715A;
    border-radius: 5px;
    font-family:'Inter', sans-serif;
    font-size: 18px;
    width: 90% !important;
    height: 40px;
    margin-right: 5px;
    margin-left: 5px;
}

.TiposDeIndustria{
    background-color: white;
    border: 2px solid #FF715A;
    border-radius: 5px 5px 5px 5px;
    font-family: 'Inter', sans-serif;
    width: 90% !important;
    height: 40px;
    font-size:100%;
}

.CostoDirecto{
    background-color: white;
    border: 2px solid #FF715A;
    border-radius: 5px 5px 5px 5px;
    font-family:  'Inter', sans-serif;
    width: 90% !important;
    height: 40px;
    font-size:100%;
}	
.OtroCostoDirecto{
    background-color: white;
    border: 2px solid #FF715A;
    border-radius: 5px 5px 5px 5px;
    font-family:  'Inter', sans-serif;
    width: 80% !important;
    height: 40px;
    font-size:90%;
}

.tamano{
    background-color: white;
    border: 2px solid #FF715A;
    border-radius: 5px 5px 5px 5px;
    font-family:  'Inter', sans-serif;
    width: 90% !important;
    height: 40px;
    font-size:100%;
}
.TextoP31{
    color: black;
    padding-top:5% !important;
    padding-bottom: 5% !important;
    font-size: 120% !important;
    width: 90% !important;
    align-items: left !important;
    font-family: 'Inter', sans-serif;
}
.TextoP32{
    color: black;
    padding-top:5% !important;
    padding-bottom: 5% !important;
    font-size: 120% !important;
    width: 90% !important;
    font-family: 'Inter', sans-serif;
}
.TextIndicaciones{
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    align-content: left;
    margin-left: 2px;
}
.boton{
    font-family: 'Inter', sans-serif;
    padding-top: 10% !important;
    padding-bottom: 10% !important;
}

.botonRadio{
    font-family: 'Inter', sans-serif;
    padding-top: 5% !important;
}

.TextoIndicativo{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px ;
    color: black;
    margin-left: 30px;
    margin-right: 30px;
}
 
.tituloPag7{
    color: #FF715A;
    font-family: 'Inter', sans-serif;
    font-size: 200% !important;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
}
.tituloPag8{
    color: #653BBF;
    font-family: 'Inter', sans-serif;
    font-size: 200% !important;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
}
.Pregunta1Septima{
    color: #FF715A;
    font-size: 20px;

    align-items: left;
    font-family: 'Inter', sans-serif;
}
.Pregunta1octava{
    color: #653BBF;
    font-size: 20px !important;
    width: 90% !important;
    align-items: left !important;
    font-family: 'Inter', sans-serif;
}

.PreguntasQuinta{
    color: Black !important;
    font-size: 20px !important;
    width: 140% !important;
    font-family: 'Inter', sans-serif;
    align-content: left;
    margin-left: 20px;
}
.PreguntaQuinta{
    color: Black !important;
    font-size: 150% !important;
    width: 110% !important;
    font-family: 'Inter', sans-serif;
}

.tituloPag9{
    color: #056CF2;
    font-family: "Inter";
    font-size: 200% !important;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
}
.PreguntaNovena{
    color: #056CF2;
    font-size: 130% !important;
    width: 90% !important;
    align-items: left !important;
    font-family: 'Inter', sans-serif;
}
.Textobults{
    color: black;
    margin-left: 20px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}
.textoSpanesOrange{
    color: #FF715A;
    font-size: 70%;
    font-family: 'Inter', sans-serif;
}

.FondoSegunda{
    background-image: url('https://i0.wp.com/www.globaltrademag.com/wp-content/uploads/2022/01/shutterstock_1033827553.png?resize=768%2C399&ssl=1');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;
    


}

.FondoResultados{
  background-image: url('https://lh3.google.com/u/0/d/1Myt4_l15FN-TkYsmPJ-Hz96lq5PJry8P=w1439-h795-iv1');
background-size: 80% 50%;
background-repeat: no-repeat;
height: 800px;
margin-left: -10px ;

background-position: 10px 10px;

}
.FondoResultados::after{
  background-color: rgba(255, 255, 255, 0.11);

}
.FondoResultados::before{
  background-color: rgba(255, 255, 255, 0.21);
}
.BoxDuracProyect{
  background-color: #056cf286;
  width: 100px;
  border: 5px solid #056CF2;
  padding: 10px;
  margin: 20px;
}

#Column1Result{
  position: absolute;
  top: 1455px;
  left: 10px;
  width: 200px;
  margin-top: 10px;
}
#Column2Result{
  margin-left: 200px;
  margin-right: 10px;
  margin-top: 10px;
}


.FondoPuntos{
    position: relative;
    left: 100px;
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://lh3.google.com/u/2/d/1C-RRGgiPJsRpEUH8iQl48Xpx6kVTSKR3=w1439-h820-iv1');
    background-repeat: no-repeat;

}
.FondoPuntos::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0);

}
.tituloPag6{
    color: #FF715A;
    font-family: "Inter";
}
.tituloResultados1{
  color: black;
    font-family: "Inter";
}
.tituloResultados{
  color: #FF715A;
    font-family: "Inter";
}
.btn2{
    font-family: 'Inter';
    font-size: 15px;
    color: white;
    background-color: #FF715A;
    text-align: center;
    border-radius: 28px;
    border: 30px solid #FF715A;
    border-width: 20px;
}
.siguiente7{
    font-family: 'Inter';
    font-size: 20px;
    color: white;
    background-color: #FF715A;
    text-align: center;
    border-radius: 15px;
    border: 6px solid #FF715A;
}	
.siguiente8{
    font-family: 'Inter';
    font-size: 15px;
    color: white;
    background-color: #653BBF;
    text-align: center;
    border-radius: 28px;
    border: 30px solid #653BBF;
    border-width: 20px;
}
.siguiente9{
    font-family: 'Inter';
    font-size: 15px;
    color: white;
    background-color: #056CF2;
    text-align: center;
    border-radius: 28px;
    border: 30px solid #056CF2;
    border-width: 20px;
}

.OtroD{
    color: black;
}

.OtroO{
    color: black;
    padding-top:5% !important;
}
.Fondo1Abajo{
    background-image: url(https://lh3.google.com/u/2/d/1j8trxTCSUE2jjYtchuVCXoAvAXxcXLjE=w1439-h768-iv1);
    background-size: 100% 100%;
    background-repeat: no-repeat;
 
    height: 300px;

}

.ImagenResult{
  background-image: url('https://st2.depositphotos.com/1502607/6833/v/450/depositphotos_68336067-stock-illustration-wire-frame-industrial-equipment-oil.jpg');
  background-size: 80% 80%;
  background-repeat: no-repeat;
  height: 500px;
  background-position:center ;
}

input[type="radio"].blue {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    border: 2px solid #056CF2;
    background-color: white;
    -webkit-appearance: none; /*to disable the default appearance of radio button*/
    -moz-appearance: none;
  }
  
  input[type="radio"]:focus { /*no need, if you don't disable default appearance*/
    outline: none; /*to remove the square border on focus*/
  }
  
 
  input[type="radio"].orangeuno:checked { /*no need, if you don't disable default appearance*/ 
    background-color: #FF715A;
    border: 2px solid #FF715A;
  }
  input[type="radio"].orangedos:checked { /*no need, if you don't disable default appearance*/ 
    background-color: #FF715A;
    border: 2px solid #FF715A;
  }
  input[type="radio"].mora:checked{
    background-color: #653BBF;
    border: 2px solid #653BBF;
  }
  input[type="radio"].azul:checked{
    background-color: #056CF2;
    border: 2px solid #056CF2;
  }
  
  input[type="radio"]:checked ~ span:first-of-type {
    color: white;
  }
  
  
  label span {
    position: relative;
    
  }
  .buttonblue{
    background-color: #FF715A;
  }
  input[type="radio"].orangeuno{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #FF715A;
    background-color: rgb(255, 213, 189);
    -webkit-appearance: none; /*to disable the default appearance of radio button*/
    -moz-appearance: none;
    color: #FF715A;
  }

  input[type="radio"].orangedos{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #FF715A;
    background-color: rgb(255, 213, 189);
    -webkit-appearance: none; /*to disable the default appearance of radio button*/
    -moz-appearance: none;
    color: #FF715A;
  }

  

  input[type="radio"].mora {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #653BBF;
    background-color: rgb(210, 184, 231);
    -webkit-appearance: none; /*to disable the default appearance of radio button*/
    -moz-appearance: none;
    color: #653BBF;
    align-content: right;
  }
  input[type="radio"].azul {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #056CF2;
    background-color: rgb(191, 203, 244);
    -webkit-appearance: none; /*to disable the default appearance of radio button*/
    -moz-appearance: none;
    color: #056CF2
  }
  label span:first-of-type {
    position: relative;
    left: 20px;
    margin-left: -55px;
    margin-bottom: -20px;
    margin-top: -50px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
  } 

  .toggle{
    --uiToggleSize: var(--toggleSize, 1.25rem);
    --uiToggleBorderWidth: var(--toggleBorderWidth, 2px);
    --uiToggleColor: var(--toggleColor, #FF715A);
  
    display: var(--toggleDisplay, inline-flex);
    position: relative;
  }
  
  .toggle__input{
    /*
    The pattern by Sara Soueidan https://www.sarasoueidan.com/blog/inclusively-hiding-and-styling-checkboxes-and-radio-buttons/
    */
    width: var(--uiToggleSize);
    height: var(--uiToggleSize);
    opacity: 0;
  
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }
  
  /*
  1. Calculation of the gap for the custom checkbox
  */
  
  .toggle__label{
    display: inline-flex;
    min-height: var(--uiToggleSize);
    padding-left: calc(var(--uiToggleSize) + var(--toggleIndent, .4em));
  }
  
  .toggle__input:not(:disabled) ~ .toggle__label{
    cursor: pointer;
  }
  
  /*
  1. Ems helps to calculate size of the checkbox
  */
  
  .toggle__label::after{
    content: "";
    box-sizing: border-box;  
    width: 1em;
    height: 1em;
    font-size: var(--uiToggleSize); /* 1 */
  
    background-color: transparent;
    border: var(--uiToggleBorderWidth) solid var(--uiToggleColor);
  
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
  }
  
  .toggle__input:checked ~ .toggle__label::after{
    background-color: var(--uiToggleColor);
  }
  
  .toggle__text{
    margin-top: 10px;
    margin-bottom: auto;
  }
  
  /*
  The arrow size and position depends from sizes of square because I needed an arrow correct positioning from the top left corner of the element toggle
  
  1. Ems helps to calculate size and position of the arrow
  */
  
  .toggle__label::before{
    content: "";
    width: 0;
    height: 0;
    font-size: var(--uiToggleSize); /* 1 */
  
    border-left-width: 0;
    border-bottom-width: 0;
    border-left-style: solid;
    border-bottom-style: solid;
    border-color: var(--toggleArrowColor, #fff);
  
    position: absolute;
    top: .5428em;
    left: .25em;
    z-index: 3;
  
    transform-origin: left top;
    transform: rotate(-40deg) skew(10deg);
  }
  
  .toggle__input:checked ~ .toggle__label::before{
    --uiToggleArrowWidth: var(--toggleArrowWidth, 2px);
  
    width: .4em;
    height: .2em;
    border-left-width: var(--uiToggleArrowWidth);
    border-bottom-width: var(--uiToggleArrowWidth);
  }
  
  /*
  States
  */
  
  /* focus state */
  
 
  
  /* disabled state */
  
  .toggle__input:disabled ~ .toggle__label{
    opacity: var(--toggleOpacityDisabled, .24);
    cursor: var(--toggleCursorDisabled, not-allowed);
    user-select: none;
  }
  
  /*
  =====
  PRESENTATION STYLES
  =====
  */
  
  /* 
  The demo skin
  */
  
  .toggle__label::after{
    border-radius: var(--toggleBorderRadius, 2px);
  }
  
  /* 
  The animation of switching states
  */
  
  .toggle__input:not(:disabled) ~ .toggle__label::before{
    will-change: width, height;
    opacity: 0;
  }
  
  .toggle__input:not(:disabled):checked ~ .toggle__label::before{
    opacity: 1;
    transition: opacity .1s ease-out .15s, width .1s ease-out .3s, height .1s ease-out .2s;
  }
  
  .toggle__input:not(:disabled) ~ .toggle__label::after{
    will-change: background-color;
    transition: background-color .15s ease-out;
  }
  
  /*
  =====
  SETTINGS
  =====
  */
  
  .page__custom-settings{
    --toggleColor: #690e90;
    --toggleOutlineColorFocus: #690e90;
    --toggleSize: 2rem;
  }
  .page{
  box-sizing: border-box;
  max-width: 45rem;
  padding: 2.75rem 3rem 2.5rem;
  margin: auto;
  
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
  border-radius: 2px;
}

.page__section{
  display: flex;
  flex-wrap: wrap;
  font-weight: 40;
}

.page__section:nth-child(n+2){
  margin-top: 3rem;
}

.page__custom-settings{
   --pageToggleTextFontSize: 1.25rem;
}

.page__name{
  width: 100%;
}

.page__name::first-letter{
  text-transform: uppercase;
}

.page__toggle{
  margin-top: 1.25rem;
  margin-right: 1.5rem;
  font-size: 15px;
}

.H1Resultados{
  font-size:500px !important;
  text-align:center !important;
}