.ImagendeMarca{
    margin-top: -10px;
    margin-bottom: -10px;
    text-align: center;
}
.imgIbisa{
    width: 35%;
    height: 50%;
    text-align: center;
}
.imgJaveriana{
    width: 35%;
    height: auto;
    text-align: center;
}
.imgColombia{
    width: 57px;
    height: 37px;   
    border-radius: 5px;
}
.divTitulo{
    background-size: cover;
    width: 100% !important;
}

.Bienvenido{
    font-family: 'Inter';
    font-size: 40px !important;
    color: black;
    text-align: center;
}

.divTextobienvenido{
    font-family: 'Inter';
    width: 100% !important;
    font-size: 20px;
    color: black;
    text-align: center;
}

.TextoB{
    font-family: 'Inter';
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 0% 20% !important;
}

.BotonSiguiente{
    padding: 0% 39% !important;
    font-size: 20px;

}
.BotonSiguienteTercera{
    padding: 20% 39% !important;
    font-size: 50px;
}

.btn1{
    font-family: 'Inter';
    font-size: 20px;
    color: white;
    background-color: #2977C5;
    text-align: center;
    border-radius: 15px;
    border: 6px solid #2977C5;
}

.UltimaImg{
    width: 100% !important;
    padding-top: 20px;
}

.Imagen{
    width: 100% !important;
    height: 100% !important;
}

.tituloPag3{
    color: orange;

}

.DivTextoTercera{
    padding-top: 20px;
}

.P1{
    font-size: 20px;
    color: black;
    padding-top:10% !important;
}
.P2{
    font-size: 20px;
    color: black;
    padding-top:10% !important;
}
.P3{
    font-size: 20px;
    color: black;
    padding-top:10% !important;
}

.P4{
    font-size: 20px;
    color: black;
    padding-top:10% !important;
}

.InputTercera{
    border: 2px solid #2977C5;
    border-radius: 5px;
    font-size: 20px;
    width: 90% !important;
}
