

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;800&display=swap');


.progress3{
    color: white !important;
    appearance: none;
    -webkit-appearance: none;
}
.progress3::-webkit-progress-bar {
    background: white !important;
    box-sizing: border-box;

}
.progress3::-webkit-progress-value {
    background-color: #FF715A !important;
}
.animated-progress{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin: 20px 10px;
    border: 1px solid rgb(189, 113, 113);
    overflow: hidden;
    position: relative;
}
  
  .animated-progress span {
    height: 100%;
    display: block;
    width: 0;
    color: rgb(255, 251, 251);
    line-height: 30px;
    position: absolute;
    text-align: end;
    padding-right: 5px;
}
  
.progress-red span {
    background-color: red;
}

.ImagendeMarca{
    height: 600px;
    background-image: url("https://lh3.googleusercontent.com/drive-viewer/AJc5JmTewlJ8BJLAnU604vGuWNKThQP7V4TgTA5N9CEQO9gb3RdgvTW5LX0T2KuhuSKH3MpvOAdrr1s=w1439-h820");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.TextoDiagnostico{
    
    text-align: right !important;
    margin-left: 50%;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
}
.imgIbisa{
    width: 20%;
    height: 35%;
    text-align: center;
}
.imgJaveriana{
    width: 20%;
    height: auto;
    text-align: center;
}
.imgColombia{
    width: 57px;
    height: 37px;   
    border-radius: 5px;
}
.divTitulo{
    background-size: cover;
    width: 100% !important;
}
.DivtituloPag3{
    width: 150% !important;
}

.Bienvenido{
    font-family: 'Inter', sans-serif
    font-size: 40px !important;
    color: black;
    text-align: center;
}

.divTextobienvenido{
   
    font-family: 'Inter', sans-serif
    width: 100% !important;
    font-size: 20px;
    color: black;
    text-align: center;
}

.TextoB{
    
    font-family: 'Inter', sans-serif
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 0% 10% !important;
}

.TextoB2{
    
    font-family: 'Inter', sans-serif
    font-size: 30px;
    color: black;
    text-align: center;
    padding: 5% 10% !important;
}
.BotonSiguiente{
    padding: 10% 30% !important;
    font-size: 20px;

}
.BotonSiguienteTercera{
    padding: 20% 30% !important;
    font-size: 50px;
}
.BotonSiguienteQuinta{
    padding: 20% 50% !important;
    font-size: 50px;
}
.btn1{
    font-family: 'Inter';
    font-size: 20px;
    color: white;
    background-color: #FF715A;
    text-align: center;
    border-radius: 28px;
    border: 30px solid #FF715A;
    border-width: 20px;
}

.UltimaImg{
    width: 100% !important;
    padding-top: 50px;
    
}

.Imagen{
    width: 100% !important;
    height: 100% !important;
}

.tituloPag3{
    color: #FF715A;
    font-family: "Inter";
    font-size: 200% !important;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    font-family: 'Inter', sans-serif
}

.DivTextoTercera{
    padding-top: 20px;
}

.P1{
    color: black;
    padding-top:10% !important;
}

.InputTercera{
    border: 2px solid #2977C5;
    border-radius: 5px;
    font-size: 20px;
    width: 90% !important;
    height: 40px;
}

.TiposDeIndustria{
    background-color: white;
    border: 2px solid #2977C5;
    border-radius: 5px 5px 5px 5px;
    font-family: "Inter";
    width: 90% !important;
    height: 40px;
    font-size:100%;
}

.CostoDirecto{
    background-color: white;
    border: 2px solid #2977C5;
    border-radius: 5px 5px 5px 5px;
    font-family: "Inter";
    width: 90% !important;
    height: 40px;
    font-size:100%;
}	
.OtroCostoDirecto{
    background-color: white;
    border: 2px solid #2977C5;
    border-radius: 5px 5px 5px 5px;
    font-family: "Inter";
    width: 80% !important;
    height: 40px;
    font-size:90%;
}

.tamano{
    background-color: white;
    border: 2px solid #2977C5;
    border-radius: 5px 5px 5px 5px;
    font-family: "Inter";
    width: 90% !important;
    height: 40px;
    font-size:100%;
}
.TextoP31{
    color: black;
    padding-top:5% !important;
    padding-bottom: 5% !important;
    font-size: 120% !important;
    width: 90% !important;
    align-items: left !important;
    font-family: 'Inter', sans-serif
}
.TextoP32{
    color: black;
    padding-top:5% !important;
    padding-bottom: 5% !important;
    font-size: 120% !important;
    width: 90% !important;
    font-family: 'Inter', sans-serif
}
.boton{
    font-family: 'Inter', sans-serif
    padding-top: 10% !important;
    padding-bottom: 10% !important;
}

.botonRadio{
    font-family: 'Inter', sans-serif
    padding-top: 5% !important;
}

.TextoIndicativo{
    text-align: right !important;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Inter', sans-serif
    font-size: 20px ;
    color: black;
    text-align: center;
    margin: 100px;
}
 
.tituloPag7{
    color: #FF715A;
    font-family: 'Inter', sans-serif
    font-size: 200% !important;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
}
.tituloPag8{
    color: #653BBF;
    font-family: 'Inter', sans-serif
    font-size: 200% !important;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
}
.Pregunta1Septima{
    color: #FF715A;
    font-size: 130% !important;
    width: 90% !important;
    align-items: left !important;
    font-family: 'Inter', sans-serif
}
.Pregunta1octava{
    color: #653BBF;
    font-size: 130% !important;
    width: 90% !important;
    align-items: left !important;
    font-family: 'Inter', sans-serif
}

.PreguntasQuinta{
    color: Black !important;
    font-size: 100% !important;
    width: 140% !important;
    font-family: 'Inter', sans-serif
}
.PreguntaQuinta{
    color: Black !important;
    font-size: 150% !important;
    width: 110% !important;
    font-family: 'Inter', sans-serif
}

.tituloPag9{
    color: #056CF2;
    font-family: "Inter";
    font-size: 200% !important;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
}
.PreguntaNovena{
    color: #056CF2;
    font-size: 130% !important;
    width: 90% !important;
    align-items: left !important;
    font-family: 'Inter', sans-serif
}
.Textobults{
    color: black;
    font-size: 100%;
    font-family: 'Inter', sans-serif;

}

.FondoSegunda{
    background-image: url('https://i0.wp.com/www.globaltrademag.com/wp-content/uploads/2022/01/shutterstock_1033827553.png?resize=768%2C399&ssl=1');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 500px;

}
.tituloPag6{
    color: #FF715A;
    font-family: "Inter";
}
.btn2{
    font-family: 'Inter';
    font-size: 20px;
    color: white;
    background-color: #FF715A;
    text-align: center;
    border-radius: 28px;
    border: 30px solid #FF715A;
    border-width: 20px;
}
.siguiente7{
    font-family: 'Inter';
    font-size: 20px;
    color: white;
    background-color: #FF715A;
    text-align: center;
    border-radius: 15px;
    border: 6px solid #FF715A;
}	
.siguiente8{
    font-family: 'Inter';
    font-size: 20px;
    color: white;
    background-color: #653BBF;
    text-align: center;
    border-radius: 15px;
    border: 6px solid #653BBF;
}

.OtroD{
    color: black;
}

.OtroO{
    color: black;
    padding-top:5% !important;
}
.Fondo1Abajo{
    background: linear-gradient(rgba(white,7,12,0.7), rgba(white,7,12,0,7)), url('https://lh3.google.com/u/2/d/1j8trxTCSUE2jjYtchuVCXoAvAXxcXLjE=w1439-h768-iv1');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.2);
    height: 300px;

}
input[type="radio"].blue {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid #056CF2;
    background-color: white;
    -webkit-appearance: none; /*to disable the default appearance of radio button*/
    -moz-appearance: none;
  }
  
  input[type="radio"]:focus { /*no need, if you don't disable default appearance*/
    outline: none; /*to remove the square border on focus*/
  }
  
 
  input[type="radio"].orange:checked { /*no need, if you don't disable default appearance*/ 
    background-color: #FF715A;
    border: 2px solid #FF715A;
  }
  
  input[type="radio"]:checked ~ span:first-of-type {
    color: white;
  }
  
  
  label span:first-of-type {
    position: relative;
    left: -27px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    color: #056CF2;
  }
  
  label span {
    position: relative;
    top: -12px;
  }
  .buttonblue{
    background-color: #FF715A;
  }
  input[type="radio"].orange {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid #FF715A;
    background-color: rgb(255, 213, 189);
    -webkit-appearance: none; /*to disable the default appearance of radio button*/
    -moz-appearance: none;
  }
  
